@font-face {
  font-family: "manrope_thin";
  src: url("../../assets/fonts/manrope/manrope-light.otf");
}

@text-browen: #9a6c3a;
@text-black: #1e1e1e;
@text-gray: #fbf4ea80;
@bg-brown: #9a6c3a;
@sec-bg-pink: #fbf4ea;
@sec-bg-brown: #9a6c3a;

.sofitel_wrapper .grid_95 {
  width: 95%;
  display: grid;
  padding: 30px;
  margin: 0 auto;
}

.sofitel_wrapper {
  .font-160 {
    font-size: 160px;
  }
  .font_16 {
    font-size: 16px;
  }
  .font_18 {
    font-size: 18px;
  }
  .font_20 {
    font-size: 20px;
  }
  .font_48 {
    font-size: 48px;
  }
  .font_64 {
    font-size: 64px;
  }
  .font-120 {
    font-size: 120px;
  }
  .font_200 {
    font-size: 200px;
  }
  .font_360 {
    font-size: 360px;
  }
}

.section_1 {
  * {
    color: white;
  }
}

.section_1_bottom_div {
  bottom: 8%;
  z-index: 9;
  text-align: center;
  width: 100%;

  & * {
    width: fit-content;
    margin: 0 auto;
  }
}

.section_1_bottom_div .head {
  text-transform: uppercase;

  & h1 {
    letter-spacing: 8px;
  }
}

.section_1_bottom_div .svg_text_flex {
  gap: 65px;
}

.section_1_bottom_div .svg_text {
  display: flex;
  gap: 16px;
  align-items: center;

  & .svg {
    width: 48px;
  }
}

.section_2 .features_div > div {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 0;
}

.section_2 .features_div .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: @text-browen;
}
.swiper-pagination-bullets {
  visibility: hidden;
}

.section_2_content {
  grid-template-columns: 1fr 0.95fr;
  gap: 55px;
}

.section_2_content .section_2_text .head {
  padding-right: 230px;
  line-height: 125px;
  * {
    color: @text-black;
  }
}

.section_2_content .section_2_text .head span {
  display: block;
  text-align: right;
}

.section_2_img {
  justify-self: right;
}
.section_2_img img {
  // border-radius: 8px;
  max-width: 724px;
  margin-top: 140px;
}
.section_2_text .p_text {
  margin-top: 30px;
  * {
    color: @text-black;
  }
}

.section_2_text .btn_div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 50px;
}

.section_2_text .btn_div .btn {
  transition: all 0.8s ease;
  border: solid 1px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    cursor: pointer;
  }

  .svg {
    width: 24px;
  }
}

.section_2_text .btn_div .btn:first-of-type {
  color: white;
  border-color: @bg-brown;
  background-color: @bg-brown;
  padding: 8px 20px;

  &:hover {
    color: @bg-brown;
    // border-color: @bg-brown;
    background-color: white;
  }
}

.section_2_text .btn_div .btn:last-of-type {
  color: @bg-brown;
  border-color: @bg-brown;
  background-color: white;
  padding: 10px 20px;

  &:hover {
    color: white;
    // border-color: white;
    background-color: @bg-brown;
  }
}

.section_3_head {
  padding: 80px 0;
  h1 {
    letter-spacing: 5px;
    color: @text-black;
  }

  h1:last-of-type {
    text-align: right;
  }
}

.section_3_content {
  grid-template-columns: 1fr 0.5fr;
  gap: 45px;

  .section_3_img {
    img {
      max-width: 1104px;
    }
    .btn {
      display: flex;
      gap: 8px;
      background-color: #1e1e1e7a;
      width: fit-content;
      position: absolute;
      border-radius: 8px;
      padding: 14px 28px;
      bottom: 35px;
      right: 70px;
      color: white;
      cursor: pointer;
      align-items: center;

      .text p {
        color: white;
      }
    }
  }

  .section3_text {
    margin-top: 100px;

    .text_bottom {
      display: flex;
      align-items: center;
      margin-top: 100px;
      gap: 2px;
    }

    p {
      color: @text-black;
      font-weight: 400;
    }
    h1 {
      color: @text-browen;
    }
    .list {
      margin-top: -8px;
    }
    ul {
      list-style: none;
    }
    hr {
      background-color: @bg-brown;
      color: @bg-brown;
      width: 40px;
      height: 1px;
      border: none;
      margin: 3.5px 0;
    }
  }
}

.section_4 .section_4_content.grid_95 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section_4_content {
  grid-template-columns: 0.8fr 1fr;
  gap: 55px;

  * {
    color: white;
  }

  .left_div {
    .head h1 > span {
      display: block;
      text-align: center;

      span {
        margin-left: -0.7ch;
      }
    }

    .section_4_img {
      margin-top: 40px;

      img {
        max-width: 724px;
      }
    }
  }

  .right_div {
    .list {
      list-style: none;
      width: 80%;
      justify-self: center;

      & > li {
        margin: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #ffffff;
        cursor: pointer;

        &.inner-list {
          border-bottom: none;
          margin-left: 25px;
          cursor: default;

          ul {
            list-style: disc;
          }
        }

        &.active {
          svg path:not(path:first-of-type) {
            display: none;
          }
        }

        p {
          color: #ffffffb9;
        }
      }
    }
  }
}

.sec-5-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // padding-right: 5.3rem;
  margin: 0 auto;
  width: 80%;
}

.accordion {
  .accordion-item {
    //   border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.9s ease;

    .accordion-header {
      background: transparent;
      padding: 15px 20px;
      height: 60px;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      color: white;
      border-bottom: 1px solid white;
    }

    .accordion-body {
      overflow: hidden;
      transition: max-height 0.9s ease;
      padding: 0 20px;

      li {
        margin: 15px 0;
        color: white;
        width: fit-content;
      }
    }
  }
}

.icon {
  width: 20px !important;
  height: 20px;
  transition: transform 0.8s ease;
}

.section_9_grid {
  .bottom_div {
    *,
    .accordion-body {
      .font_18 {
        color: black;
      }
    }

    .accordion-header {
      border-color: black;
    }

    img {
      filter: invert(1);
    }
  }
}

.sofitel_wrapper .section_5 {
  padding: 120px 0;
  .head h1 > span {
    margin-left: -0.7ch;

    span {
      display: block;
      margin-left: 93px;
    }
  }

  // .head {
  //   z-index: 1;
  // }

  .font-120 {
    font-family: bigilla_bold;
    line-height: 120px;
    margin-left: 58px;
  }
  .font_360 {
    color: #fbf4ea80;
    position: absolute;
    top: -224px;
    left: -100px;
    text-wrap: nowrap;
    z-index: -1;
  }

  .swiper-button-container {
    position: absolute;
    bottom: -40px;
    right: 180px;
    display: flex;
    gap: 10px;
    z-index: 20;
  }

  .custom-swiper-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #9a6c3a;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 20;

    &:hover {
      background-color: #f6efe8;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .custom-swiper-button.disabled {
    opacity: 0.6;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .custom-swiper-button-next::after,
  .custom-swiper-button-prev::after {
    display: none;
  }

  .custom-swiper-button-prev svg {
    rotate: 180deg;
  }

  .swiper-container {
    margin-left: 10%;
    margin-top: 5%;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
    // gap: 24px;
  }

  .swiper-slide {
    width: 60% !important;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 1.5625;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

.sofitel_wrapper .section_6_grid {
  grid-template-columns: 1fr 0.7fr;

  &.grid_95 {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .left_div {
    .head span {
      display: block;
    }
    .list {
      margin: 50px 0;
      margin-left: 30px;

      li {
        padding: 10px 0;
        p {
          color: @text-black;
        }
      }
    }
    .btn {
      width: fit-content;
      margin-left: 10px;
      border: solid 1px @bg-brown;
      padding: 16px 32px;
      border-radius: 12px;
      color: @text-browen;
      cursor: pointer;
      transition: all 0.8s ease;

      &:hover {
        color: white;
        background-color: @bg-brown;
      }
    }
  }
}

.section_7 {
  .head {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: white;

    span {
      display: block;
    }
  }
}

.head {
  color: @text-black;
}

.sofitel_wrapper .section_8_grid {
  grid-template-columns: 0.8fr 1fr;
  // grid-template-rows: 1;
  gap: 80px;
  place-items: center;

  &.grid_95 {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .right_div {
    z-index: 2;
    .font-120 {
      font-family: bigilla_bold;
      line-height: 120px;
    }
    .font_360 {
      color: white;
      position: absolute;
      top: -140px;
      text-wrap: nowrap;
      z-index: -1;
    }

    .p_text {
      color: @text-black;
      margin-top: 20px;
    }

    .btn {
      width: fit-content;
      padding: 16px 32px;
      border: solid 1px @text-browen;
      border-radius: 12px;
      color: @text-browen;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      margin-top: 30px;

      transition: all 0.8s ease;

      &:hover {
        color: white;
        background-color: @bg-brown;
      }
    }
  }

  .left_div {
    .section_8_img img {
      width: 90%;
      mix-blend-mode: darken;
    }
  }
}

.sofitel_wrapper .section_9_grid {
  grid-template-columns: 1fr 0.95fr;
  // grid-template-rows: 1;
  //   gap: 0px;
  place-items: center;

  &.grid_95 {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .left_div {
    z-index: 2;
    .font-120 {
      font-family: bigilla_bold;
      line-height: 120px;
    }
    .font_360 {
      color: @text-gray;
      position: absolute;
      top: -140px;
      left: -110px;
      text-wrap: nowrap;
      z-index: -1;
    }

    .p_text {
      color: @text-black;
      margin-top: 20px;
    }

    .list {
      list-style: none;
      width: 80%;

      & > li {
        margin: 12px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #1e1e1e;
        cursor: pointer;

        &.inner-list {
          border-bottom: none;
          margin-left: 25px;
          cursor: default;

          ul {
            list-style: disc;
          }
        }

        &.active {
          svg path:not(path:first-of-type) {
            display: none;
          }
        }

        p {
          color: #1e1e1e;
        }
      }
    }
  }

  .right_div {
    .section_8_img img {
      width: 90%;
      mix-blend-mode: darken;
    }

    .white_box {
      position: absolute;
      bottom: 0;
      right: 59px;
      background: #ffffff;
      width: 41%;
      height: 20%;
    }

    .btn {
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-40%);
      left: 10%;
      width: fit-content;
      padding: 16px 32px;
      border: solid 1px @text-browen;
      border-radius: 12px;
      color: @text-browen;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      transition: all 0.8s ease;

      &:hover {
        color: white;
        background-color: @bg-brown;
      }
    }
  }
}

.sofitel_wrapper .section_10_container {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 188px 0;
  z-index: 1;

  .inquire_card {
    aspect-ratio: 10/1;
    border-radius: 8px;
    padding: 40px 30px;
    max-width: 1051px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .card_head {
    text-align: center;
    margin-bottom: 30px;
  }

  .card_head h1 {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .inquire_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form_group {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #a4a4a4;
    border-radius: 12px;
  }

  .form_group label {
    color: #fff;
    // font-size: 12px;
    margin-bottom: 6px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    color: #fff;
    // font-size: 14px;
    background-color: transparent;
  }

  input::placeholder,
  textarea::placeholder {
    color: #fff;
    opacity: 0.7;
  }

  .flex_div {
    display: flex;
    gap: 15px;

    .form_group {
      width: 100%;
    }
  }

  .phone_input {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    position: relative;
  }

  .phone_input .flag {
    display: flex;
    align-items: bottom;
    gap: 10px;
    // font-size: 14px;
    color: #fff;
  }

  .phone_input .svg img {
    width: 24px;
  }

  .phone_field {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .phone_field input {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: transparent;
    color: #fff;
    // font-size: 14px;
  }

  .phone_field label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    // font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  .phone_field input:focus + label,
  .phone_field input:valid + label {
    top: 4px;
    font-size: 20px;
    opacity: 0.9;
  }

  textarea {
    resize: none;
    // height: 80px;
  }

  .submit_btn {
    margin: 0 auto;
    background-color: @sec-bg-pink;
    color: @text-browen;
    border: none;
    padding: 16px 60px;
    border: solid 1px @sec-bg-pink;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.8s ease;
  }

  .submit_btn:hover {
    background-color: @bg-brown;
    color: @sec-bg-pink;
  }

  .input_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input_wrapper input,
  .input_wrapper textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
  }

  .input_wrapper label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    // font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
  }

  .input_wrapper input:focus + label,
  .input_wrapper input:valid + label,
  .input_wrapper textarea:focus + label,
  .input_wrapper textarea:valid + label {
    top: 4px;
    font-size: 15px;
    opacity: 0.9;
  }

  // .form_group:has(input.ng-invalid.ng-touched),
  // .form_group:has(textarea.ng-invalid.ng-touched) {
  //   border-color: red !important;
  // }

  // .input_wrapper input.ng-invalid.ng-touched + label,
  // .input_wrapper textarea.ng-invalid.ng-touched + label {
  //   color: red;
  // }

  .form_group.has-error {
    border-color: red;

    // label {
    //   color: red;
    // }

    input {
      border-color: red;
    }
  }

  .back_marque {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);

    ul {
      display: flex;
      text-wrap: nowrap;
      align-items: center;
      list-style: none;
      gap: 32px;
    }
    ul:nth-of-type(odd) {
      opacity: 11%;
      li h1 {
        color: #24262b;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .flex-gap-medium {
    gap: 16px;
  }

  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font-120 {
      font-size: 80px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .section_2_content {
    .section_2_text .head {
      line-height: 96px;
    }
  }

  .section_3 {
    .section_3_head {
      .font_200 {
        font-size: 135px;
      }
    }
  }

  .sofitel_wrapper .section_5 {
    .font-120 {
      line-height: 82px;
    }

    .font_360 {
      top: -160px;
      left: -46px;
      font-size: 220px;
    }
  }

  .sofitel_wrapper {
    .section_8_grid {
      .right_div {
        .font-16 {
          font-size: 12px;
        }

        .font_18 {
          font-size: 15px;
        }

        .font-120 {
          line-height: 82px;
        }

        .font_360 {
          font-size: 220px;
        }

        .btn {
          padding: 12px 21px;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_9_grid {
      .left_div {
        .font_18 {
          font-size: 15px;
        }

        .font-120 {
          line-height: 82px;
        }

        .font_360 {
          font-size: 220px;
          left: -85px;
        }
      }

      .right_div {
        .white_box {
          width: 38%;
        }

        .font-16 {
          font-size: 12px;
        }

        .btn {
          padding: 12px 21px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .section_2_content {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    .section_2_text {
      .head {
        line-height: 85px;
        padding-right: 106px;
      }
      .font_24 {
        font-size: 15px;
      }
    }
    .section_2_img {
      max-width: 435px;
    }
  }

  .section_3 {
    .section_3_head {
      .font_200 {
        font-size: 132px;
      }
    }

    .font_18 {
      font-size: 13px;
    }

    .font_24 {
      font-size: 15px;
    }

    .font-160 {
      font-size: 113px;
    }

    .section_3_img {
      img {
        max-width: 700px;
      }

      .btn {
        padding: 9px 13px;
        bottom: 23px;
        right: 82px;

        .svg svg {
          width: 18px;
        }
      }
    }
    .section3_text {
      .text_bottom {
        display: flex;
        align-items: center;
        margin-top: 50px;
        gap: 2px;
      }
    }
  }

  .section_4 {
    .section_4_content {
      .font_18 {
        font-size: 13px;
      }

      .right_div {
        .list > li {
          padding: 11px 0;
        }
      }
    }
  }

  .sofitel_wrapper .section_5 {
    .font-120 {
      line-height: 70px;
    }

    // .font_360 {
    //   top: -160px;
    //   left: 46px;
    //   font-size: 220px;
    // }
  }

  .sofitel_wrapper {
    .section_8_grid {
      .right_div {
        .font-16 {
          font-size: 10px;
        }

        .font_18 {
          font-size: 12px;
        }

        .font-120 {
          line-height: 70px;
        }

        .btn {
          padding: 9px 13px;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_9_grid {
      .left_div {
        .font_18 {
          font-size: 12px;
        }

        .font-120 {
          line-height: 70px;
        }

        .list {
          margin-top: 10px;
        }
        .list > li {
          margin: 0;
          padding: 11px 0;
        }
      }

      .right_div {
        .white_box {
          width: 37%;
        }

        .btn {
          padding: 9px 13px;
        }

        .font-16 {
          font-size: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1152px) {
  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font-120 {
      font-size: 62px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .accordion span {
    font-size: 13px;
  }

  .accordion .accordion-item .accordion-header {
    padding: 0 !important;
    height: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .sofitel_wrapper .grid_95 {
    width: 98%;
    padding: 20px;
  }

  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font-120 {
      font-size: 53px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .features_div {
    padding: 30px 0;
  }

  .swiper-container {
    overflow: hidden;
  }

  .swiper-slide {
    width: auto;
    text-align: center;
  }

  .section_2_content {
    // grid-template-columns: 1fr 1.2fr;
    gap: 65px;

    .section_2_text .head {
      line-height: 55px;
      padding-right: 30px;
    }

    .btn_div .btn:first-of-type {
      padding: 5px 14px;
    }

    .btn_div .btn:last-of-type {
      padding: 7.5px 14px;
    }

    .section_2_text .btn_div .btn .svg {
      width: 18px;

      svg {
        width: 16px;
      }
    }
  }

  .section_3 {
    .section_3_head {
      padding: 50px 0;

      .font_200 {
        font-size: 90px;
      }
    }

    .section_3_content {
      // gap: 0;
      .section_3_img {
        .btn {
          align-items: center;
          padding: 6px 14px;
          right: 39px;
          // bottom: 21px;

          .svg svg {
            width: 15px;
          }
        }
      }
      .section3_text {
        .text_bottom {
          margin-top: 0;
        }
        hr {
          margin: 1px 0;
        }
      }
    }
  }

  .section_4 .section_4_content {
    .right_div {
      .list {
        > li {
          margin: 0;
          padding: 10px 0;

          .svg svg {
            width: 16px;
          }
        }
      }
    }
  }

  .sofitel_wrapper .section_5 {
    padding: 60px 0;
    .font-120 {
      // font-size: 53px;
      line-height: 58px;
    }

    // .font_360 {
    //   font-size: 150px;
    //   top: -105px;
    // }

    .font_360 {
      top: -102px;
      // left: 46px;
      font-size: 150px;
    }

    .custom-swiper-button {
      width: 36px;
      height: 36px;
    }

    .swiper-button-container {
      bottom: -20px;
    }
  }

  .sofitel_wrapper .section_6_grid {
    grid-template-columns: 1fr 0.9fr;

    .left_div {
      .list {
        margin: 22px 0;
        margin-left: 30px;
      }

      .btn {
        padding: 8px 14px;
      }
    }
  }

  .section_7 {
    .section_7_bg img {
      aspect-ratio: 15 / 9;
      object-fit: cover;
      object-position: center;
    }

    .font_64 {
      font-size: 28px;
    }
  }

  .sofitel_wrapper {
    .section_8_grid {
      .left_div {
        .section_8_img img {
          width: 100%;
        }
      }

      .right_div {
        .font-120 {
          line-height: 50px;
        }

        .font_360 {
          font-size: 150px;
          top: -105px;
        }

        .btn {
          padding: 8px 10px;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_9_grid {
      .right_div {
        .section_8_img img {
          width: 100%;
        }

        .white_box {
          width: 34%;
        }

        .btn {
          padding: 8px 10px;
        }
      }

      .left_div {
        .font-120 {
          line-height: 50px;
        }

        .font_360 {
          font-size: 150px;
          top: -105px;
          left: -38px;
        }

        .list {
          > li {
            margin: 0;
            padding: 10px 0;

            .svg svg {
              width: 16px;
            }
          }
        }
      }
    }
  }

  .sofitel_wrapper .section_10_container {
    width: 100%;
    display: grid;
    place-items: center;
    padding: 188px 0;
    z-index: 1;

    .inquire_card {
      aspect-ratio: 5/1.5;
      // border-radius: 8px;
      // padding: 40px 30px;
      // max-width: 1051px;
      // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      width: 60%;
    }

    .font_20 {
      font-family: manrope_thin;
      font-size: 10px;
    }

    .input_wrapper input:focus + label,
    .input_wrapper input:valid + label,
    .input_wrapper textarea:focus + label,
    .input_wrapper textarea:valid + label {
      top: 4px;
      font-size: 8px;
      opacity: 0.9;
    }

    .submit_btn {
      padding: 8px 36px;
    }

    .input_wrapper {
      textarea {
        height: calc(1.5rem * 2);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font-120 {
      font-size: 65px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .sofitel_bg {
    min-width: 1000px;
    max-width: 1000px;
    width: 1000px;
    filter: brightness(80%);

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  .section_1_bottom_div {
    top: 30%;

    .svg_text_flex.d_flex {
      display: block;
      width: 80%;
      text-align: left;

      * {
        margin: 0;
      }
    }

    .sofitel_logo {
      width: fit-content;
      margin: 0;
      margin-left: 10%;
      * {
        margin: 0;
      }
    }

    .head {
      width: fit-content;
      margin: 0;
      margin-left: 10%;
      * {
        margin: 0;
      }
      h1.font-120 {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: left;
      }
    }

    .sofitel_logo img {
      max-width: 300px;
      width: 300px;
    }

    .text.font_48 {
      font-size: 35px;
    }

    .svg_text {
      gap: 4px;
    }

    .svg_text .svg {
      width: 35px;
    }
  }

  .sofitel_wrapper .section_2_content {
    &.grid_95 {
      padding-top: 111px;
    }
  }

  .section_2 .features_div > div {
    display: flex;
    flex-shrink: 0;
    width: 50%;
  }
  .swiper-pagination-bullets {
    visibility: visible;
    position: absolute;
    text-align: center !important;
    width: 100% !important;
    padding: 0;
    bottom: 0;
    justify-content: center;
  }
  .features_div {
    --swiper-pagination-color: #9a6c3a;
  }
  .section_2_content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 30px;

    .head {
      position: absolute;
      top: 0;
      width: 80%;
      padding-right: 20%;
    }

    .font-120 {
      padding-right: 36.5%;
    }

    .section_2_text {
      //   text-align: center;
      order: 2;
      width: 100%;

      .p_text {
        margin-top: 0;
      }

      .btn_div {
        display: block;
        width: 100%;
        margin: 0;

        .btn {
          text-align: center;
          margin: 2% auto;
          margin-bottom: 0;
          justify-content: center;
        }

        // margin-top: 25px;
      }
    }

    .section_2_img {
      max-width: 700px;
      justify-self: center;
    }
    .section_2_img img {
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  .section_3 {
    .section_3_head {
      margin-top: 30px;

      .font_200 {
        font-size: 60px;
        font-family: bigilla_bold;
      }
    }

    .section_3_img img {
      max-width: 700px;
      width: 94%;
      margin: 0 3%;
    }

    .section_3_content {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      .section3_text {
        margin-top: 0;

        .font_24 {
          font-size: 20px;
        }
      }
    }
  }

  .section_4 {
    .section_4_content.grid_95 {
      padding: 50px 0;

      grid-template-columns: 1fr;
      grid-template-rows: auto auto;

      .head {
        h1 > span {
          text-align: left;
        }
      }

      .left_div {
        .section_4_img img {
          max-width: 700px;
          width: 94%;
          margin: 0 3%;
        }
      }
    }
  }

  .sofitel_wrapper .section_5 {
    position: relative;

    .font-120 {
      line-height: 60px;
    }

    .font_360 {
      top: -40px;
      left: -12px;
    }

    .head {
      position: unset;
    }

    .swiper-container {
      margin-top: 5%;
      margin-left: 3.5%;
    }

    .swiper-slide {
      width: 97% !important;
      border-radius: 16px;
      overflow: hidden;
      aspect-ratio: 1.5625;
    }

    .swiper-button-container {
      bottom: 0;
      left: 50%;
      right: unset;
      transform: translateX(-50%);
    }
    margin-bottom: 50px;
  }

  .sec-5-grid {
    width: 85%;
  }

  .sofitel_wrapper .section_6_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    position: relative;
    &.grid_95 {
      padding-top: 160px;
    }

    .head {
      position: absolute;
      top: 0;
    }

    .left_div {
      order: 2;
      .list {
        margin: 22px 0;
        margin-left: 30px;

        li {
          padding: 3.5px 0;
        }
      }

      .btn {
        padding: 8px 14px;
      }
    }

    .section_6_img img {
      max-width: 700px;
      width: 94%;
      margin: 0 3%;
    }
  }

  .sofitel_wrapper {
    .section_8_grid {
      grid-template-columns: 1fr;
      gap: 0;

      &.grid_95 {
        padding-bottom: 65px;
      }

      .head {
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 1;
        span {
          display: block;
          padding-left: 70px;
        }
      }
      .right_div {
        .font-120 {
          line-height: 60px;
        }
      }

      .left_div {
        .section_8_img img {
          max-width: 700px;
          width: 94%;
          margin: 0 3%;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_9_grid {
      position: relative;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: 0;

      &.grid_95 {
        padding-bottom: 65px;
      }

      .head {
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 1;
      }

      .left_div {
        width: 100%;
        order: 2;
        .font-120 {
          line-height: 60px;

          span {
            display: block;
            padding-left: 70px;
          }
        }

        .list {
          margin: 0 auto;
          width: 85%;
        }
      }

      .right_div {
        .section_9_img img {
          max-width: 700px;
          width: 80%;
          margin: 0 10%;
          margin-top: 80px;
        }

        .white_box {
          width: 39.5%;
        }
      }
    }
  }

  .sofitel_wrapper .section_10_container {
    padding: 80px 0;

    .inquire_card {
      min-width: 395px;
    }

    .font_64 {
      font-size: 34px;
    }

    .font_20 {
      font-size: 8px;
    }

    .input_wrapper input:focus + label,
    .input_wrapper input:valid + label,
    .input_wrapper textarea:focus + label,
    .input_wrapper textarea:valid + label {
      font-size: 7px;
    }

    .flex_div {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 540px) {
  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font-120 {
      font-size: 60px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .section_1_bottom_div .sofitel_logo img {
    width: 178px;
  }

  .section_2_content .font-120 {
    padding-right: 24%;
  }

  .sofitel_wrapper {
    .section_9_grid {
      .right_div {
        .white_box {
          width: 35.5%;
        }
      }
    }
  }
}

@media only screen and (max-width: 486px) {
  .sofitel_wrapper {
    .font-16 {
      font-size: 16px;
    }
    .font_18 {
      font-size: 18px;
    }
    .font_20 {
      font-size: 20px;
    }
    .font_48 {
      font-size: 48px;
    }
    .font_64 {
      font-size: 64px;
    }
    .font-120 {
      font-size: 43px;
    }
    .font_200 {
      font-size: 200px;
    }
    .font_360 {
      font-size: 360px;
    }
  }

  .section_1_bottom_div {
    top: 31%;
  }

  .section_2_content {
    .font-120 {
      padding-right: 22%;
    }
    .section_2_text .head {
      line-height: 43px;
    }

    .btn_div {
      .btn:first-of-type {
        padding: 7px 0;
      }
      .btn:last-of-type {
        padding: 8.5px 0;
      }
    }
  }

  .section_3 .section_3_head {
    .font_200 {
      font-size: 40px;
    }

    h1:last-of-type {
      text-align: left;
      text-indent: 8%;
    }
  }

  .sofitel_wrapper .section_5 {
    .font-120 {
      margin-left: 20px;
      line-height: 50px;
    }

    .font_360 {
      font-size: 109px;
      top: -12px;
      left: -5px;
    }

    .head {
      h1 > span span {
        margin-left: 45px;
      }
    }

    .swiper-slide {
      aspect-ratio: 1 / 1;

      img {
        aspect-ratio: 1/ 1;
        object-fit: cover;
      }
    }
  }

  .section_7 {
    .section_7_bg img {
      aspect-ratio: 15 / 15;
    }

    .font_64 {
      font-size: 23.5px;
    }
  }

  .sofitel_wrapper {
    .section_8_grid {
      .right_div {
        .font_360 {
          font-size: 109px;
          top: -78px;
        }

        .font-120 {
          line-height: 50px;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_9_grid {
      .left_div {
        .font_360 {
          font-size: 109px;
          top: -78px;
          left: -9px;
        }

        .font-120 {
          line-height: 50px;
        }
      }
    }
  }

  .sofitel_wrapper .section_10_container {
    padding: 80px 0;

    .inquire_card {
      min-width: 345px;
    }

    // .font_64 {
    //   font-size: 34px;
    // }

    // .font_20 {
    //   font-size: 8px;
    // }

    // .input_wrapper input:focus + label,
    // .input_wrapper input:valid + label,
    // .input_wrapper textarea:focus + label,
    // .input_wrapper textarea:valid + label {
    //   font-size: 7px;
    // }

    // .flex_div {
    //   flex-direction: column;
    // }
  }
}

@media only screen and (max-width: 370px) {
  .sofitel_wrapper .grid_95 {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 10px;
  }

  .sofitel_bg {
    min-width: 850px;
    max-width: 850px;
    width: 850px;
    img {
      margin-left: -150px;
    }
  }

  .section_1_bottom_div {
    bottom: 10px;
    top: unset;

    & * {
      // color: black;
    }

    .sofitel_logo {
      img {
        max-width: 100px;
        width: 100px;
      }
    }

    .text.font_48 {
      font-size: 20px;
    }

    .svg_text {
      .svg {
        width: 25px;
      }
    }
  }
  .features_div {
    padding: 0;

    .feature {
      h1.font-120 {
        font-size: 30px;
      }
      h1.font_24 {
        font-size: 10px;
      }
    }
  }

  .section_2_content {
    .font-120 {
      padding: 0;
    }

    .section_2_text {
      .btn_div {
        width: 98%;
        margin: 25px 1%;
      }
    }
  }

  .section_4 .section_4_content .font_18 {
    font-size: 11px;
  }

  .sofitel_wrapper .section_5 {
    .font-120 {
      font-size: 37px;
      line-height: 38px;
    }

    .font_360 {
      font-size: 105px;
    }
  }
  .sec-5-grid {
    width: 90%;
  }

  .sofitel_wrapper {
    .section_8_grid {
      .right_div {
        .font_360 {
          font-size: 105px;
        }

        .font-120 {
          font-size: 37px;
          line-height: 38px;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_9_grid {
      .left_div {
        .font_360 {
          font-size: 105px;
        }

        .font-120 {
          font-size: 37px;
          line-height: 38px;
        }
      }
    }
  }

  .sofitel_wrapper {
    .section_10_container {
      padding-bottom: 5px;
      .inquire_card {
        padding: 20px 0;
        min-width: unset;
        width: 98%;
      }

      .back_marque {
        top: 10px;
        transform: translateY(0);
      }
    }
  }
}
