<div class="sofitel_wrapper ovxhidden">

    <section class="section_1 relative">
        <div class="sofitel_bg">
            <img src="assets/images/sofitel_detail_page/sec1_bg.png" alt="sofitelImage">
        </div>
        <div class="section_1_bottom_div absolute">
            <div class="sofitel_logo">
                <img src="assets/images/sofitel_detail_page/sec1_Sofitel_Logo_Svg.svg" alt="sofitelLogo">
            </div>
            <div class="head">
                <h1 class="font_120 bigilla">Rehvassa Sofitel</h1>
            </div>
            <div class="svg_text_flex d_flex">
                <div class="svg_text">
                    <div class="svg">
                        <img src="assets/images/sofitel_detail_page/sec1_location_svg.svg" alt="locationIcon">
                    </div>
                    <div class="text font_48 bigilla">
                        <p>Gandhinagar</p>
                    </div>
                </div>
                <div class="svg_text">
                    <div class="svg">
                        <img src="assets/images/sofitel_detail_page/sec1_home_svg.svg" alt="homeIcon">
                    </div>
                    <div class="text font_48 bigilla">
                        <p>4 BHK</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_2 relative">
        <!-- <div class="features_div">
            <div>
                <div class="towers feature">
                    <div class="top">
                        <h1 class="font_120 chronicle">2</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Towers</h1>
                    </div>
                </div>
                <div class="storey feature">
                    <div class="top">
                        <h1 class="font_120 chronicle">13</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Storey</h1>
                    </div>
                </div>
                <div class="towers feature">
                    <div class="top">
                        <h1 class="font_120 chronicle">45%</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Open Space</h1>
                    </div>
                </div>
                <div class="towers feature">
                    <div class="top">
                        <h1 class="font_120 chronicle">64</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Limited Unites</h1>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Swiper Container -->
        <div class="features_div swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide feature towers">
                    <div class="top">
                        <h1 #countUp class="font_120 chronicle count-up" data-target="2">0</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Towers</h1>
                    </div>
                </div>

                <div class="swiper-slide feature storey">
                    <div class="top">
                        <h1 #countUp class="font_120 chronicle count-up" data-target="13">0</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Storey</h1>
                    </div>
                </div>

                <div class="swiper-slide feature towers">
                    <div class="top">
                        <h1 class="font_120 chronicle">
                            <span #countUp class="count-up" data-target="45">0</span>%
                        </h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Open Space</h1>
                    </div>
                </div>

                <div class="swiper-slide feature towers">
                    <div class="top">
                        <h1 #countUp class="font_120 chronicle count-up" data-target="64">0</h1>
                    </div>
                    <div class="bottom">
                        <h1 class="font_24 general_sans">Limited Units</h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="section_2_content grid_95">
            <div class="section_2_text">
                <div class="head">
                    <h1 class="font_120 bigilla wow fadeInDown" data-wow-delay=".5s" data-wow-duration="1s">Undeniably
                        <span>Grandeur</span>
                    </h1>
                </div>
                <div class="p_text">
                    <p class="font_24 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">This is
                        Rehvassa Sofitel, a haven nestled amidst the bustling city,
                        yet offering a world apart.
                        The essence of its concept whispers a promise of grandeur: "Rehvas" echoing from the depths of
                        Sanskrit, meaning "dwelling place". Woven into the heart of Rehvassa lies the spirit of
                        "Sofitel", synonymous with unparalleled French luxury hospitality.</p>
                </div>
                <div class="btn_div">
                    <div class="btn inquire_btn general_sans">
                        <div class="svg wow bounceIn" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19.231 15.26L16.691 14.97C16.3924 14.9349 16.0896 14.968 15.8056 15.0667C15.5215 15.1654 15.2635 15.3273 15.051 15.54L13.211 17.38C10.3722 15.9362 8.0648 13.6288 6.62102 10.79L8.47102 8.94001C8.90102 8.51001 9.11102 7.91001 9.04102 7.30001L8.75102 4.78001C8.69432 4.29219 8.46021 3.84225 8.09325 3.51586C7.7263 3.18947 7.25212 3.00943 6.76102 3.01001H5.03102C3.90102 3.01001 2.96102 3.95001 3.03102 5.08001C3.56102 13.62 10.391 20.44 18.921 20.97C20.051 21.04 20.991 20.1 20.991 18.97V17.24C21.001 16.23 20.241 15.38 19.231 15.26Z"
                                    fill="currentColor" />
                            </svg>
                        </div>
                        <div class="text">
                            <p class="font_16">Inquire Now</p>
                        </div>
                    </div>
                    <div class="btn download_btn general_sans">
                        <div class="svg wow bounceIn" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg class="download-icon" width="18" height="19" viewBox="0 0 18 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1 14V16C1 16.5304 1.21071 17.0391 1.58579 17.4142C1.96086 17.7893 2.46957 18 3 18H15C15.5304 18 16.0391 17.7893 16.4142 17.4142C16.7893 17.0391 17 16.5304 17 16V14M4 8L9 13M9 13L14 8M9 13V1"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="text">
                            <p class="font_16">Download Brochure</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_2_img wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                <img class="radius8" src="assets/images/sofitel_detail_page/sec2_img.png" alt="sofitelImage">
            </div>
        </div>
    </section>

    <section class="section_3 sec_bg_pink">
        <div class="section_3_head">
            <div class="head">
                <h1 class="font_200 bigilla wow slideInLeft" data-wow-delay=".5s" data-wow-duration="1s">Every Detail
                </h1>
                <h1 class="font_200 bigilla wow slide_right" data-wow-delay=".5s" data-wow-duration="1s">Exudes Prestige
                </h1>
            </div>
        </div>
        <div class="section_3_content grid_95">
            <div class="section_3_img relative wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                <img class="radius8" src="assets/images/sofitel_detail_page/sec3_img.png" alt="side open view">
                <div class="btn">
                    <div class="svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.9312 10.2313L18.9312 10.2313L18.9395 10.2357C19.2596 10.406 19.5273 10.6601 19.714 10.9708C19.9007 11.2816 19.9994 11.6373 19.9994 11.9998C19.9994 12.3624 19.9007 12.7181 19.714 13.0288C19.5273 13.3396 19.2596 13.5937 18.9395 13.7639L18.9395 13.7639L18.9313 13.7683L6.11928 20.7353L6.11889 20.7355C4.69067 21.513 3 20.4825 3 18.9678V5.03282C3 3.51762 4.69044 2.48722 6.11922 3.2633C6.11933 3.26336 6.11944 3.26342 6.11955 3.26348L18.9312 10.2313Z"
                                stroke="white" stroke-width="2" stroke="currentColor" />
                        </svg>
                    </div>
                    <div class="text">
                        <p class="font_18 general_sans">Walkthrough</p>
                    </div>
                </div>
            </div>
            <div class="section3_text">
                <div class="text_top">
                    <p class="font_24 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                        Experience opulent living in our exclusive open residential community, where luxury meets
                        comfort amidst breathtaking surroundings.</p>
                </div>
                <div class="text_bottom wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1s">
                    <h1 class="font_160 bigilla">3</h1>
                    <div class="list">
                        <ul>
                            <li>
                                <p class="font_24 general_sans wow fadeInUp" data-wow-delay="1.2s"
                                    data-wow-duration="1s">
                                    side open views</p>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <p class="font_24 general_sans wow fadeInUp" data-wow-delay="1.4s"
                                    data-wow-duration="1s">
                                    balconies</p>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li>
                                <p class="font_24 general_sans wow fadeInUp" data-wow-delay="1.6s"
                                    data-wow-duration="1s">
                                    prime connections</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_4 sec_bg_brown">
        <div class="section_4_content grid_95">
            <div class="left_div">
                <div class="section_4_heading head">
                    <h1 class="font_120 bigilla wow fadeInDown" data-wow-delay=".5s" data-wow-duration="1s">
                        <span>Exper<span> ience</span></span> the Glamour of Living
                    </h1>
                </div>
                <div class="section_4_img wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                    <img class="radius8" src="assets/images/sofitel_detail_page/sec4_img.png" alt="sofitelImage">
                </div>
            </div>
            <div class="right_div">
                <!-- <ul class="list">
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Flooring</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Walls</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Kitchen</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li class="active">
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Doors & Windows</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li class="inner-list">
                        <ul>
                            <li>
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">Decorative main door and other doors are flush doors.
                                </p>
                            </li>
                            <li>
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">Premium Aluminium section window with granite frames or
                                    equivalent.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Toilet</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Plumbing</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Electrical Work</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                Roof</p>
                        </div>
                        <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                            <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                                <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                    stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </li>
                </ul> -->
                <div class="sec-5-grid flex-gap-medium accordion">
                    <div class="accordion-item" *ngFor="let section of sections; let i = index"
                        [class.open]="section.isOpen">
                        <div class="accordion-header" (click)="toggleSection(i)">
                            <span class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                data-wow-duration="1s">{{ section.title }}</span>
                            <img class="icon"
                                [src]="section.isOpen ? 'assets/images/home-saffron_sec-wrap/minus.svg' : 'assets/images/home-saffron_sec-wrap/plus (1).svg'"
                                alt="toggle" />
                        </div>

                        <ul class="accordion-body" [style.maxHeight]="section.isOpen ? '200px' : '0px'">
                            <li class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">{{
                                section.content }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Swiper Here -->
    <section class="section_5">
        <div class="head relative">
            <h1 class="font_120 bigilla wow fadeInLeft bounceIn" data-wow-delay=".5s" data-wow-duration="1s">
                L<span> uxury <span>Personified</span> </span>
            </h1>
            <h1 class="font_360 bigilla wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">L
                <span>uxury</span>
            </h1>
            <div class="swiper-button-container wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">
                <div class="custom-swiper-button custom-swiper-button-prev" #prevBtn>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.00066 16.2102L8.00066 7.79019C8.00018 7.45778 8.09385 7.13202 8.27082 6.85064C8.44779 6.56925 8.70084 6.34373 9.00066 6.20019C9.3564 6.03216 9.75219 5.96744 10.1429 6.01341C10.5337 6.05938 10.9036 6.21419 11.2107 6.46019L16.3107 10.6702C16.5013 10.8354 16.6542 11.0397 16.759 11.2691C16.8637 11.4986 16.918 11.7479 16.918 12.0002C16.918 12.2525 16.8637 12.5018 16.759 12.7312C16.6542 12.9607 16.5013 13.165 16.3107 13.3302L11.2107 17.5402C10.9036 17.7862 10.5337 17.941 10.1429 17.987C9.75219 18.0329 9.3564 17.9682 9.00066 17.8002C8.70084 17.6566 8.44779 17.4311 8.27082 17.1497C8.09385 16.8684 8.00018 16.5426 8.00066 16.2102Z"
                            fill="#9A6C3A" />
                    </svg>
                </div>
                <div class="custom-swiper-button custom-swiper-button-next" #nextBtn>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.00066 16.2102L8.00066 7.79019C8.00018 7.45778 8.09385 7.13202 8.27082 6.85064C8.44779 6.56925 8.70084 6.34373 9.00066 6.20019C9.3564 6.03216 9.75219 5.96744 10.1429 6.01341C10.5337 6.05938 10.9036 6.21419 11.2107 6.46019L16.3107 10.6702C16.5013 10.8354 16.6542 11.0397 16.759 11.2691C16.8637 11.4986 16.918 11.7479 16.918 12.0002C16.918 12.2525 16.8637 12.5018 16.759 12.7312C16.6542 12.9607 16.5013 13.165 16.3107 13.3302L11.2107 17.5402C10.9036 17.7862 10.5337 17.941 10.1429 17.987C9.75219 18.0329 9.3564 17.9682 9.00066 17.8002C8.70084 17.6566 8.44779 17.4311 8.27082 17.1497C8.09385 16.8684 8.00018 16.5426 8.00066 16.2102Z"
                            fill="#9A6C3A" />
                    </svg>
                </div>
            </div>
        </div>

        <!-- #DFC6A3 -->

        <div class="swiper-container relative wow bounceInRight" data-wow-delay=".5s" data-wow-duration="1.5s"
            #swiperContainer>
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/sofitel_detail_page/sec5_img1.png"
                        alt="luxuryImage" /></div>
                <div class="swiper-slide"><img src="assets/images/sofitel_detail_page/sec5_img2.png"
                        alt="luxuryImage" /></div>
                <div class="swiper-slide"><img src="assets/images/sofitel_detail_page/sec5_img2.png"
                        alt="luxuryImage" /></div>
                <div class="swiper-slide"><img src="assets/images/sofitel_detail_page/sec5_img2.png"
                        alt="luxuryImage" /></div>
            </div>
        </div>
    </section>

    <section class="section_6 sec_bg_pink">
        <div class="section_6_grid grid_95">
            <div class="left_div">
                <div class="head">
                    <h1 class="font_120 bigilla_bold wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Every
                        Exquisite <span>Aspiration Realized</span></h1>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <p class="font_18 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">
                                CCTV Cameras</p>
                        </li>
                        <li>
                            <p class="font_18 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">
                                Party Lawn</p>
                        </li>
                        <li>
                            <p class="font_18 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">
                                Entrance Gate</p>
                        </li>
                        <li>
                            <p class="font_18 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">
                                Landscape Garden</p>
                        </li>
                        <li>
                            <p class="font_18 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">
                                Kids Play Area</p>
                        </li>
                        <li>
                            <p class="font_18 general_sans wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="1s">
                                Box Cricket</p>
                        </li>
                    </ul>
                </div>
                <div class="btn_more btn general_sans">
                    <p class="font_16">View More</p>
                </div>
            </div>
            <div class="right_div">
                <div class="section_6_img">
                    <img class="radius8 wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s"
                        src="assets/images/sofitel_detail_page/sec6_img.png" alt="exquisiteImage">
                </div>
            </div>
        </div>
    </section>

    <section class="section_7 relative">
        <div class="section_7_bg">
            <img src="assets/images/sofitel_detail_page/sec7_bg_img.png" alt="life of tranquillity">
        </div>
        <div class="text_div head">
            <h1 class="font_64 bigilla wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">Experience the life of
                tranquillity where <span>stillness nurtures the
                    soul.</span></h1>
        </div>
    </section>

    <section class="section_8 sec_bg_pink">
        <div class="section_8_grid grid_95 relative">
            <div class="left_div">
                <div class="section_8_img">
                    <img class="radius8 wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s"
                        src="assets/images/sofitel_detail_page/sec8_img.png" alt="prestigeImage">
                </div>
            </div>
            <div class="right_div">
                <div class="head relative">
                    <h1 class="font_120 bigilla wow fadeInRight bounceIn" data-wow-delay=".5s" data-wow-duration="1s">
                        Where Prestige <span>Meets Passion</span></h1>
                    <h1 class="font_360 bigilla wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">Prestige
                    </h1>
                </div>
                <div class="p_text wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                    <p class="font_18 general_sans">
                        Discover luxury and thoughtful design with our meticulously crafted floor plans. Each layout
                        blends elegance with functionality, reflecting our commitment to excellence. Experience
                        prestigious living environments that cater to comfort, style, and sophistication. Your dream
                        home becomes a reality with our architectural brilliance.</p>
                </div>
                <div class="btn_more btn general_sans">
                    <p class="font_16">View Floor Plans</p>
                    <div class="svg wow bounceIn" data-wow-delay=".5s" data-wow-duration="1s">
                        <svg class="arrow-icon" width="22" height="13" viewBox="0 0 22 13" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538" stroke="currentColor"
                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_9">
        <div class="section_9_grid grid_95">
            <div class="left_div">
                <div class="head relative">
                    <h1 class="font_120 bigilla wow fadeInRight bounceIn" data-wow-delay=".5s" data-wow-duration="1s">
                        Plugged Into the <span>Pulse of the City</span></h1>
                    <h1 class="font_360 bigilla wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">Pulse</h1>
                </div>
                <div class="bottom_div">
                    <!-- <ul class="list">
                        <li>
                            <div class="text">
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">
                                    Recreation</p>
                            </div>
                            <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">
                                    Hospitals</p>
                            </div>
                            <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </li>
                        <li>
                            <div class="text">
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">
                                    Schools</p>
                            </div>
                            <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </li>
                        <li class="active">
                            <div class="text">
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">
                                    Temples</p>
                            </div>
                            <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </li>
                        <li class="inner-list">
                            <ul>
                                <li>
                                    <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                        data-wow-duration="1s">Dholeshwar Mahadev - 8 mins
                                    </p>
                                </li>
                                <li>
                                    <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                        data-wow-duration="1s">Munisuvrat Jain Temple - 5 mins</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="text">
                                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">
                                    Daily Essentials</p>
                            </div>
                            <div class="svg wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.970947 10.0049H19.0001" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 19.0148V11.9072" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                    <path d="M9.99048 7.95095V0.985352" stroke="currentColor" stroke-width="0.946414"
                                        stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </li>
                    </ul> -->

                    <div class="sec-5-grid flex-gap-medium accordion">
                        <div class="accordion-item" *ngFor="let section of sections; let i = index"
                            [class.open]="section.isOpen">
                            <div class="accordion-header" (click)="toggleSection(i)">
                                <span class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">{{ section.title }}</span>
                                <img class="icon"
                                    [src]="section.isOpen ? 'assets/images/home-saffron_sec-wrap/minus.svg' : 'assets/images/home-saffron_sec-wrap/plus (1).svg'"
                                    alt="toggle" />
                            </div>

                            <ul class="accordion-body" [style.maxHeight]="section.isOpen ? '200px' : '0px'">
                                <li class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s"
                                    data-wow-duration="1s">{{
                                    section.content }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right_div">
                <div class="section_9_img relative wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                    <img class="radius8" src="assets/images/sofitel_detail_page/sec9_img.png" alt="mapImage">
                    <div class="white_box">
                        <div class="btn map_btn general_sans">
                            <p class="font_16">View On Map</p>
                            <div class="svg">
                                <svg class="arrow-icon" width="22" height="13" viewBox="0 0 22 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_10 sec_bg_pink">
        <div class="section_10_container relative">
            <div class="inquire_card sec_bg_brown">
                <div class="card_head">
                    <h1 class="font_64 bigilla">Inquire Now</h1>
                </div>
                <form class="inquire_form">
                    <div class="form_group">
                        <div class="input_wrapper">
                            <input type="text" class="manrope font_20" required />
                            <label class="manrope font_20">Full Name</label>
                        </div>
                    </div>

                    <div class="flex_div">
                        <div class="form_group">
                            <div class="input_wrapper">
                                <input type="email" class="manrope font_20" required />
                                <label class="manrope font_20">Email address</label>
                            </div>
                        </div>
                        <div class="form_group">
                            <div class="input_wrapper phone_input">
                                <div class="flag">
                                    <div class="svg">
                                        <img src="assets/images/sofitel_detail_page/flag.svg" alt="flagImage" />
                                    </div>
                                    <span>
                                        <p>(+91)</p>
                                    </span>
                                </div>
                                <div class="phone_field">
                                    <input type="tel" class="manrope font_20" required />
                                    <label class="manrope font_20">Phone Number</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="input_wrapper msg">
                            <textarea rows="5" class="manrope font_20" required></textarea>
                            <label class="manrope font_20">Message</label>
                        </div>
                    </div>

                    <button type="submit" class="submit_btn manrope font_16">Send</button>
                </form>
            </div>
            <div class="back_marque">
                <ul class="slide_left_infi">
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                </ul>
                <ul class="slide_right_infi">
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                </ul>
                <ul class="slide_left_infi">
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>