<div class="career">
    <section class="career relative">
        <div class="career-img">
            <img src="assets\images\index.jpeg" alt="">
        </div>
        <div class="banner_overly"></div>
        <div class="career-abs">
            <div class="banner-title">
                <h1 class="white-color billa-font wow fadeIn" data-wow-delay="0.6s" data-wow-duration="0.6s">career</h1>
            </div>
            <div class="career-paragraph">
                <h3 class="text-center billa-font white-color wow fadeIn" data-wow-delay="0.6s"
                    data-wow-duration="0.6s">
                    Possibilities, Learning & Excitement</h3>
            </div>
        </div>
    </section>

    <section class="relative section-padding">
        <div class="main-container">
            <div class="inner-flex flex-gap-small">
                <div class="section-paragraph">
                    <p ng-bind-html="common_page_list.primary_text_display" class="ng-binding">Join us as we work
                        towards our vision, making impactful changes in the real estate landscape and beyond. Together,
                        let's shape a better tomorrow.<br><br></p>
                </div>
                    <div class="flex-row j-c-sb al-start">
                        <div class="inner-flex section-subtitle3 section-paragraph smallest-gap">
                            <h2> Accountant </h2>
                            <p>Minimum 2 - 3 Year Experience</p>
                        </div>
                        <button type="submit" class="submit_btn manrope font_16">Apply Now</button>
                    </div>
            </div>
        </div>
    </section>
</div>