.saffron_wrapper .section_wrapper img {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.saffron_wrapper .section_wrapper h1,
.saffron_wrapper .section_wrapper h2,
.saffron_wrapper .section_wrapper h3,
.saffron_wrapper .section_wrapper h4,
.saffron_wrapper .section_wrapper h5,
.saffron_wrapper .section_wrapper h6,
.saffron_wrapper .section_wrapper p {
  margin: 0;
  padding: 0;
}

.saffron_wrapper .section_wrapper .banner_section {
  overflow: hidden;
}

.saffron_wrapper .section_wrapper .vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin: 0 -1px;
}

.saffron_wrapper .section_wrapper .vtop {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin: 0 -1px;
}

.saffron_wrapper .section_wrapper .relative {
  position: relative;
}

.saffron_wrapper .section_wrapper .section-padding {
  padding: 110px 0;
}

.saffron_wrapper .section_wrapper .section-padding-right {
  padding-right: 160px;
}

.saffron_wrapper .section_wrapper .mini-section-padding {
  padding: 70px 0;
}

.saffron_wrapper .section_wrapper .section-padding-bottom {
  padding-bottom: 110px;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.saffron_wrapper .section_wrapper .saffron_container {
  width: 75%;
  margin: 0 auto;
}

.saffron_wrapper .section_wrapper .main_container {
  // width: 1760px;
  width: 91%;
  margin: 0 auto;
  // overflow: hidden;
}

.saffron_wrapper .section_wrapper .font-75 {
  font-size: 75px;
}

.saffron_wrapper .section_wrapper .font-48 {
  font-size: 48px;
}

.saffron_wrapper .section_wrapper .font-34 {
  font-size: 34px;
}

.saffron_wrapper .section_wrapper .font-20 {
  font-size: 20px;
}

.saffron_wrapper .section_wrapper .font-16 {
  font-size: 16px;
}

.saffron_wrapper .section_wrapper .font-18 {
  font-size: 18px;
}

.saffron_wrapper .section_wrapper .font-24 {
  font-size: 24px;
}

.saffron_wrapper .section_wrapper .font-32 {
  font-size: 32px;
}

.saffron_wrapper .section_wrapper .font-80 {
  font-size: 80px;
}

.saffron_wrapper .section_wrapper .icons {
  width: calc(100% / 8);
  display: inline-block;
  float: none;
  margin: 0 -2px;
  vertical-align: top;
  padding: 0px 0;
}

.saffron_wrapper .section_wrapper .icon_img {
  width: 60%;
  margin: 0 auto;
}

.saffron_wrapper .section_wrapper .icon_text {
  padding-top: 30px;
  font-family: "Rubik-Light";
}

.saffron_wrapper .section_wrapper {
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.z-1 {
  z-index: 1;
}

.z-20 {
  z-index: 20;
}

.mtb0 {
  margin: 0 auto;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.txt-center {
  text-align: center;
}

.w100 {
  width: 100%;
}

.w70 {
  width: 70%;
}

.w50 {
  width: 50%;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.flex-gap-medium {
  gap: 48px;
}

.j-c-end {
  justify-content: end;
}

.j-c-c {
  justify-content: center;
}

.j-c-spb {
  justify-content: space-between;
}

.flex-gap-small {
  gap: 24px;
}

.flex-gap-big {
  gap: 96px;
}

.gap-16 {
  gap: 16px;
}

.gap0 {
  gap: 0 !important;
}

.font-title {
  font-size: 4rem;
  font-weight: 400;
}

.section-paragraph {
  font-size: 1.5rem;
}

.alc {
  align-items: center;
}

.line-height {
  line-height: 1.5rem;
}

.mt-100 {
  margin-top: 150px;
}

.mb-100 {
  margin-bottom: 150px;
}

.font-weight100 {
  font-weight: 100;
}

.font-weight200 {
  font-weight: 200;
}

.flex-row {
  display: flex;
}

.section-padding-web {
  padding: 4rem 0;
}

.wfc {
  width: fit-content;
}

.mlauto {
  margin-left: auto;
}

.border-radius-16 {
  border-radius: 16px;
}

// Navbar

@text-blue: #213b74;
@text-white: #ffffff;
@bg-orange: #ec614a;
@bg-white: #ffffff;
@bg-transparent: transparent;

.navbar {
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: @bg-white;
  position: sticky;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}

.navbar li {
  width: 150px;
}

.navbar ul li:first-of-type a {
  text-transform: uppercase;
  text-decoration: none;
  color: @text-blue;
}

.navbar .menu_btn {
  display: none;
}

.navbar .rnr_logo {
  width: 100px;
}

.navbar .inquire_btn {
  background-color: @bg-orange;
  color: @text-white;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 9px;
  border: solid 1px transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.8s ease;
  justify-content: center;
  width: fit-content;

  &:hover {
    background-color: @bg-white;
    border: solid 1px @bg-orange;
    color: @bg-orange;
  }
}

.navbar .inquire_btn .arrow_svg {
  width: 20px;
  right: 0;
  top: 0;
}

// Section 3

.sec-4-grid {
  display: grid;
  grid-template-columns: calc(40% - 2rem) calc(60% - 3rem);
  gap: 6rem;
}

.section-4,
.section-6,
.section-9 {
  background-color: #24262b;
}

// Section 5

.sticky-bg {
  position: sticky;
  top: 20%;
  height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  h1 {
    font-size: 12.5rem;
    color: #e3e1de;
  }
}

.sticky-img {
  margin-bottom: 7.5rem;
  width: 55%;
}

.sticky-img:nth-child(odd) {
  margin-left: auto;
}

// Section 6

.sec-5-img {
  margin: -2rem 0 0 auto;
  width: 88%;
}

.sec-5-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-right: 5.3rem;
}

// section-7

.sec-7-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

// accordion

.accordion {
  .accordion-item {
    //   border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.9s ease;

    .accordion-header {
      background: transparent;
      padding: 15px 20px;
      height: 60px;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      color: white;
      border-bottom: 1px solid white;
    }

    .accordion-body {
      overflow: hidden;
      transition: max-height 0.9s ease;
      padding: 0 20px;

      li {
        margin: 15px 0;
        color: white;
        width: fit-content;
      }
    }
  }
}

.icon {
  width: 20px !important;
  height: 20px;
  transition: transform 0.8s ease;
}

.sec-8-paragraph {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  padding: 0 4rem;
  overflow: hidden;
}

.section-8 {
  overflow: hidden;
}

.sec-8-img {
  height: 100svh;
  object-fit: cover;
}

.sec-9-img {
  width: 70%;
  margin: 0 auto;
}

.arrow-rotate {
  position: absolute;
  top: -2%;
  right: -6%;
  width: 12%;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-infinite {
  animation: rotate360 30s linear infinite;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
}

.uppercase {
  text-transform: uppercase;
}

//   Footer
footer {
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

.footer-container {
  width: 85%;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 7rem 0;
}

.footer-logo {
  width: 10rem;
}

.footer-paragraph a {
  color: black;
  text-decoration: none;
}

.footer-paragraph a:hover {
  color: #ec614a !important;
}

a p:hover {
  color: #ec614a !important;
}

.copyrights {
  padding: 1.25rem 0;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.footer-icon-map {
  width: 60px;
}

.hidden-xs {
  display: block;
}

// Tab panel

.image-wrapper {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    border-radius: 12px;
  }

  .tab-panel-1 {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 30px;
    width: 75%;
    padding: 9px 25px;

    .tab {
      padding: 6px 14px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 14px;
      transition: 0.3s;
      color: gray;
      width: max-content;

      &:hover {
        color: gray;
      }

      &.active {
        color: black;
        font-weight: bold;
      }
    }
  }
}

.tab-panel {
  display: flex;
  gap: 20px;

  .tab-list {
    display: flex;
    gap: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    padding: 13px 25px;
    overflow: scroll;
    scrollbar-width: none;

    .tab-item {
      // padding: 16px 0;
      cursor: pointer;
      transition: background 0.3s;
      color: gray;

      &.active {
        color: black;
        font-weight: bold;
      }
    }
  }
}

.image-area {
  width: 70%;
  margin: auto 0 0 auto;
}

.marque {
  z-index: 20;
  width: 100%;
  top: 40%;
  transform: translateY(-50%);
}

::ng-deep .fancybox__container {
  z-index: 9999 !important;
}

::ng-deep .fancybox__spinner {
  display: block !important;
  z-index: 9999 !important;
  border: 4px solid @bg-orange;
  border-top-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

//   Responsive
@media only screen and (max-width: 1680px) {
}

@media only screen and (max-width: 1450px) {
}

@media only screen and (max-width: 1440px) {
  .font-title {
    font-size: 3rem;
    font-weight: 400;
  }

  .arrow-rotate {
    position: absolute;
    top: 1%;
    right: -6%;
    width: 12%;
  }

  .saffron_wrapper .section_wrapper .font-80 {
    font-size: 60px;
  }

  .image-wrapper .tab-panel-1 {
    bottom: 40px;
    left: 50%;
    overflow: scroll;
    scrollbar-width: none;
  }

  .image-wrapper .tab-panel-1 {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 8px 12px;
    border-radius: 30px;
    width: 95%;
    padding: 9px 25px;
  }

  .sticky-bg h1 {
    font-size: 10.5rem;
    color: #e3e1de;
  }

  .w50 {
    width: 60%;
  }

  .image-area {
    width: 100%;
    margin: auto 0 0 auto;
  }

  .section-padding-web {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 1366px) {
  .footer-grid {
    padding: 6rem 0;
  }

  .saffron_wrapper .section_wrapper .font-32 {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1280px) {
  .footer-grid {
    padding: 5rem 0;
  }

  .saffron_wrapper .section_wrapper .font-32 {
    font-size: 25px;
    font-size: 100;
  }

  .saffron_wrapper .section_wrapper .font-16 {
    font-size: 14px;
  }

  .section-padding {
    padding: 100px 0;
  }

  .footer-grid {
    padding: 5rem 0;
  }

  .btn-padding {
    padding: 0.8rem 1rem;
  }

  .saffron_wrappe .font-80 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1152px) {
  .saffron_wrapper .section_wrapper .font-80 {
    font-size: 45px;
  }

  .saffron_wrapper .section_wrapper .font-24 {
    font-size: 18px;
  }

  .image-wrapper .tab-panel-1 .tab {
    font-size: 11px;
  }

  .footer-logo {
    width: 7rem;
  }

  .footer-icon-map {
    width: 106px;
  }

  .flex-gap-big {
    gap: 80px;
  }

  .saffron_wrapper .section_wrapper .section-padding {
    padding: 75px 0;
  }

  .saffron_wrapper .section_wrapper .section-padding-bottom {
    padding-bottom: 75px;
  }

  .saffron_wrapper .section_wrapper .mini-section-padding {
    padding: 20px 0;
  }

  .accordion span {
    font-size: 13px;
  }

  .accordion .accordion-item .accordion-header {
    padding: 0 !important;
    height: 40px;
  }

  .saffron_wrapper .section_wrapper .font-16 {
    font-size: 12px;
  }

  .icon {
    width: 15px !important;
    height: 15px;
    transition: transform 0.8s ease;
  }

  .sec-5-grid {
    padding-right: 3rem;
  }

  .saffron_wrapper .section_wrapper .font-18 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  .footer-grid {
    padding: 3rem 0;
  }

  .sticky-bg h1 {
    font-size: 9.5rem;
    color: #e3e1de;
  }

  .saffron_wrapper .section_wrapper .section-padding-right {
    padding-right: 30px;
  }

  .font-title {
    font-size: 3rem;
    font-weight: 400;
  }

  .section-paragraph {
    font-size: 1.2rem;
  }

  .saffron_wrapper .section_wrapper .font-80 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 991px) {
  .flex-gap-big {
    gap: 60px;
  }

  .saffron_wrapper .section_wrapper .section-padding {
    padding: 70px 0;
  }

  .navbar ul {
    padding: 10px;
    flex-direction: row-reverse;
  }

  .navbar .menu_text {
    display: none;
  }

  .navbar li.menu {
    width: fit-content;
  }

  .navbar .menu_btn {
    display: block;
    font-size: 26px;
    width: fit-content;
  }

  .navbar .inquire_btn {
    display: none;
  }

  .flex-gap-big {
    gap: 50px;
  }

  .saffron_wrapper .section_wrapper .font-32 {
    font-size: 20px;
    font-size: 100;
  }

  .sec-4-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .sticky-img {
    margin-bottom: 7.5rem;
    width: 80%;
  }

  .sec-5-img {
    margin: 0 !important;
    width: 100%;
  }

  .sec-5-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 3.5rem;
  }

  .sec-7-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }

  .navbar ul {
    padding: 10px;
    flex-direction: row-reverse;
  }

  .navbar .menu_text {
    display: none;
  }

  .navbar li.menu {
    width: fit-content;
  }

  .navbar .menu_btn {
    display: block;
    font-size: 26px;
    width: fit-content;
  }

  .navbar .inquire_btn {
    display: none;
  }

  .flex-gap-big {
    gap: 50px;
  }

  .sticky-bg h1 {
    font-size: 8.5rem;
    color: #e3e1de;
  }

  .font-title {
    font-size: 3rem;
    font-weight: 400;
  }

  .sec-5-grid {
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
    width: 80%;
    gap: 0;
    margin: 0 auto;
  }

  .tab-panel .tab-list {
    width: 100%;
  }

  .footer-container {
    width: 95%;
    margin: 0 auto;
  }

  .footer-logo {
    width: 6rem;
  }

  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .flex-gap-small {
    gap: 6px;
  }

  .footer-icon-map {
    width: fit-content;
  }

  .saffron_wrapper .section_wrapper .main_container {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }

  .w50 {
    width: 100%;
  }

  .sticky-bg h1 {
    font-size: 5.5rem;
    color: #e3e1de;
  }

  .tab-panel .tab-list {
    overflow: scroll;
    width: 100%;
    scrollbar-width: none;
  }

  .saffron_wrapper .section_wrapper .main_container {
    width: 95%;
    margin: 0 auto;
  }

  .section-5-second {
    width: 100%;
    margin-bottom: 22px;
  }

  .sticky-bg {
    height: 50svh;
  }

  .flex-column {
    flex-direction: column;
  }

  .sticky-bg h1 {
    font-size: 4.5rem;
    color: #e3e1de;
  }

  .sec-4-grid {
    gap: 3rem;
  }

  .font-title {
    font-size: 2rem;
    font-weight: 400;
  }

  .footer-icon-map {
    width: 55px;
  }
}
