<div class="saffron_wrapper">
    <section class="section_1 z-20 relative ovxhidden">
        <div class="saffron_bg">
            <img src="assets/images/saffron_detail_page/sec1_bg.png" alt="saffronBg">
        </div>
        <div class=" section_1_text">
            <div class="section_1_bottom_div">
                <div class="head">
                    <p class="font_40 franklin">A new wave of living</p>
                    <h1 class="font_140 bigilla">“{{typedTextMain}} <span>{{typedTextSpan}}”</span></h1>
                </div>
                <div class="bottom_div">
                    <div class="svg_text_flex d_flex">
                        <div class="svg_text">
                            <div class="svg">
                                <img src="assets/images/saffron_detail_page/sec1_location_svg.svg" alt="locationIcon">
                            </div>
                            <div class="text_div">
                                <p class="font_64 bigilla">Nana Chiloda</p>
                                <p class="font_20 franklin">Location</p>
                            </div>
                        </div>
                        <div class="svg_text">
                            <div class="svg">
                                <img src="assets/images/saffron_detail_page/living_area.svg" alt="areaIcon">
                            </div>
                            <div class="text font_48 bigilla">
                                <p class="font_64 bigilla">2 / 3 BHK</p>
                                <p class="font_20 franklin">Type</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn_div">
                        <div (click)="onInquiryClick()" class="btn inquire_btn general_sans wow fadeIn"
                            data-wow-delay=".5s" data-wow-duration="1s">
                            <div class="svg wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19.231 15.26L16.691 14.97C16.3924 14.9349 16.0896 14.968 15.8056 15.0667C15.5215 15.1654 15.2635 15.3273 15.051 15.54L13.211 17.38C10.3722 15.9362 8.0648 13.6288 6.62102 10.79L8.47102 8.94001C8.90102 8.51001 9.11102 7.91001 9.04102 7.30001L8.75102 4.78001C8.69432 4.29219 8.46021 3.84225 8.09325 3.51586C7.7263 3.18947 7.25212 3.00943 6.76102 3.01001H5.03102C3.90102 3.01001 2.96102 3.95001 3.03102 5.08001C3.56102 13.62 10.391 20.44 18.921 20.97C20.051 21.04 20.991 20.1 20.991 18.97V17.24C21.001 16.23 20.241 15.38 19.231 15.26Z"
                                        fill="currentColor" />
                                </svg>
                            </div>
                            <div class="text">
                                <p class="font_16">Inquire Now</p>
                            </div>
                        </div>
                        <div (click)="onInquiryClick()" class="btn download_btn general_sans wow fadeIn"
                            data-wow-delay=".5s" data-wow-duration="1s">
                            <div class="svg wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                                <svg class="download-icon" width="18" height="19" viewBox="0 0 18 19" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 14V16C1 16.5304 1.21071 17.0391 1.58579 17.4142C1.96086 17.7893 2.46957 18 3 18H15C15.5304 18 16.0391 17.7893 16.4142 17.4142C16.7893 17.0391 17 16.5304 17 16V14M4 8L9 13M9 13L14 8M9 13V1"
                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="text">
                                <p class="font_16">Download Brochure</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section_2 z-20 sec_bg_black relative">
        <div class="saffron_logo wow zoomIn" data-wow-delay=".5s" data-wow-duration="1.5s">
            <img src="assets/images/saffron_detail_page/Saffron Logo.svg" alt="saffronLogo">
        </div>
        <div class="section_2_text">
            <div class="head_text">
                <p class="font_18 general_sans wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">The sighs of
                    Sanctity and Sophistication.</p>
            </div>
            <div class="body_text">
                <p class="font_32 general_sans wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration="1s">
                    Discover a world where elegance meets tranquility, where every moment is imbued with a sense of
                    refined luxury. Welcome to Saffron, an architectural masterpiece that offers an unparalleled living
                    experience. Saffron stands as a testament to exquisite design and meticulous craftsmanship.</p>
            </div>
            <div class="btn wow fadeInUpSmall" (click)="onInquiryClick()" data-wow-delay=".5s" data-wow-duration="1s">
                <div class="text">
                    <p class="font_18 general_sans">Know More
                    </p>
                </div>
                <div class="svg wow zoomIn" data-wow-delay="1s" data-wow-duration="1s">
                    <svg class="arrow-icon" width="22" height="13" viewBox="0 0 22 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>
    </section>

    <section class="section_3 z-20 sec_bg_gray relative">
        <div class="bg_container">
            <div #roundedAnimate id="rounded_animate" class="section_3_bg">
                <img src="assets/images/saffron_detail_page/Banner.png" alt="bannerImage">
            </div>
        </div>

        <div #fadeAnimation id="fade_animation" class="fade_animation_div">
            <div class="section_3_content">
                <p class="font_32 general_sans">
                    Step into the world of Saffron with our exclusive
                    <span class="text_bold">Walkthrough Video.</span> This immersive experience showcases the elegance
                    and sophistication.
                </p>
            </div>
            <div class="saffron_logo">
                <img src="assets/images/saffron_detail_page/Saffron_Logo_white.svg" alt="saffronLogo">
            </div>
        </div>

    </section>

    <div class="section_wrapper z-1">
        <section class="section-4 z-20 relative section-padding">
            <div class="main_container">
                <div class="sec-4-grid">
                    <div class="inner-flex flex-gap-big">
                        <div class="section-content wow fadeInDownSmall" data-wow-delay=".5s" data-wow-duration="1s">
                            <p class="white-color general_sans">Building Amenities</p>
                            <h3 class="white-color billa-font font-80 font-weight200">Designed for <br>
                                livable communities
                            </h3>
                        </div>
                        <div class="section-paragraph">
                            <p class="white-color font-24 general_sans wow fadeIn" data-wow-delay=".5s"
                                data-wow-duration="1s">At Saffron,
                                we believe that true luxury lies in the details. Our world-class amenities are designed
                                to
                                enhance your lifestyle and provide you with the ultimate living experience.</p>
                        </div>
                    </div>
                    <div class="relative">
                        <div class="image-wrapper">
                            <img [src]="images[selectedIndex].src" alt="Tab Image" (click)="showFancyTabs(images)" />
                            <div class="tab-panel-1">
                                <div class="tab" *ngFor="let img of images; let i = index"
                                    [class.active]="i === selectedIndex" (click)="selectIn(i)">
                                    <p style="width: max-content;">
                                        {{ img.label }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-5 z-1 relative section-padding">
            <div class="main_container">
                <div class="sticky-bg">
                    <h1 class="txt-center billa-font">
                        Beauty and elegance <br>
                        of saffron
                    </h1>
                </div>
                <div class="sticky-img relative wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                    <a (click)="showFancyTabs(beautyImgs)">
                        <img src="assets/images/home-saffron_sec-wrap/stickyimg01.png" alt="beautyImage">
                    </a>
                </div>
                <div class="sticky-img relative wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                    <a (click)="showFancyTabs(beautyImgs)">
                        <img src="assets/images/home-saffron_sec-wrap/stickyimg02.png" alt="beautyImage">
                    </a>
                </div>
                <div class="sticky-img relative wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                    <a (click)="showFancyTabs(beautyImgs)">
                        <img src="assets/images/home-saffron_sec-wrap/stickyimg03.png" alt="beautyImage">
                    </a>
                </div>
                <div class="sticky-img relative wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                    <a (click)="showFancyTabs(beautyImgs)">
                        <img src="assets/images/home-saffron_sec-wrap/stickyimg01.png" alt="beautyImage">
                    </a>
                </div>
            </div>
        </section>

        <section class="section-6 z-20 relative section-padding">
            <div class="main_container">
                <div class="mini-section-padding pb0">
                    <div class="flex-row relative flex-gap-medium j-c-spb flex-column">
                        <div class="section-5-title wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">
                            <h2><span class="white-color billa-font font-title" style="padding-left: 4rem;">Highest
                                    standards</span></h2>
                            <h2 class="white-color billa-font font-title">of quality and</h2>
                            <h2 class="white-color billa-font font-title">craftsmanship</h2>
                        </div>
                        <div class="section-5-second section-padding-right wfc inner-flex  wow fadeInUpSmall"
                            data-wow-delay=".5s" data-wow-duration="1s">
                            <div class="section-content">
                                <p class="white-color">Building Amenities</p>
                            </div>
                            <div class="section-paragraph">
                                <p class="white-color">
                                    Every element of our residences is <br class="hidden-xs">
                                    carefully selected to ensure durabilit , <br class="hidden-xs">
                                    comfort, and aesthetic appeal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mini-section-padding pt0 inner-flex flex-gap-medium sec-5-img">
                <div class="img-5">
                    <img src="assets/images/home-saffron_sec-wrap/craftsmanship.png" alt="craftsmanshipImage">
                </div>
                <div class="sec-5-grid flex-gap-medium accordion">
                    <div class="accordion-item" *ngFor="let section of sections; let i = index"
                        [class.open]="section.isOpen">
                        <div class="accordion-header" (click)="toggleSection(i)">
                            <span class="wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration="1s">{{ section.title
                                }}</span>
                            <img class="icon  wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s"
                                [src]="section.isOpen ? 'assets/images/home-saffron_sec-wrap/minus.svg' : 'assets/images/home-saffron_sec-wrap/plus (1).svg'"
                                alt="toggle" />
                        </div>

                        <ul class="accordion-body" [style.maxHeight]="section.isOpen ? '200px' : '0px'">
                            <li class="font-16">{{ section.content }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-7 z-20 section-padding">
            <div class="main_container">
                <div class="sec-7-grid section-padding-web flex-gap-big">
                    <div class="inner-flex flex-gap-big ovxhidden wow fadeInDown" data-wow-delay=".5s"
                        data-wow-duration="1s">
                        <div class="inner-flex section-title flex-gap-small sec-7-content wow fadeInDownSmall"
                            data-wow-delay=".5s" data-wow-duration="1s">
                            <p class="font-18">Floor Plans</p>
                            <h2 class="billa-font font-title">Smarter spaces <br>
                                for better living</h2>
                        </div>
                        <div class="inner-flex relative">
                            <div class="tab-panel">
                                <div class="tab-list">
                                    <div *ngFor="let tab of tabs; let i = index" class="tab-item"
                                        [class.active]="i === selectedTabIndex" (click)="selectTabIn(i)">
                                        <p style="width: max-content;">
                                            {{ tab.title }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-paragraph w50 wow fadeInDown" data-wow-delay=".5s" data-wow-duration="1s">
                            <p>
                                Each layout is
                                thoughtfully
                                crafted to maximize space, light, and functionality, ensuring a
                                harmonious living experience for all residents.</p>
                        </div>
                    </div>
                    <div class="image-area wow zoomIn" data-wow-delay=".5s" data-wow-duration="1.3s">
                        <a (click)="showFancyTabs(tabs)">
                            <img [src]="tabs[selectedTabIndex].src" alt="Selected Image" />
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="section_8 z-20 relative ovxhidden">
        <div class="section_8_img wow zoomIn" data-wow-delay=".3s" data-wow-duration="1s">
            <img src="assets/images/saffron_detail_page/sec8_bg.png" alt="eleganceImage">
        </div>
        <div class="section_8_text">
            <h2 class="font_64 bigilla wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">Elegance is present in
                every detail and provides inspiration for life through
                exceptional design.</h2>
        </div>
    </section>

    <div class="section_wrapper z-20">
        <section class="section-9 relative section-padding ovhidden">
            <div class="relative inner-flex flex-gap-medium">
                <div class="relative sec-9-img pb0">
                    <div class="relative section-padding-web wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                        <img src="assets/images/home-saffron_sec-wrap/sec9_bulding.png" alt="buildingImage">
                        <div class="arrow-rotate">
                            <a href="#">
                                <div class="relative">
                                    <img src="assets/images/home-saffron_sec-wrap/viewonMap.svg" alt="mapImage"
                                        class="rotate-infinite">
                                    <div class="arrow">
                                        <img src="assets/images/home-saffron_sec-wrap/onMaparow.svg" alt="arrow-icon">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="main_container section-paragraph">
                        <p class="txt-center font-24 white-color medium-fonts wow fade_top ">saffron Saffron, Opp.
                            Rainforest
                            bungalows, Near
                            Someshwar <br class="hidden-xs"> Mahadev Temple, Nana Chiloda, Ahmedabad - 382330.</p>
                    </div>
                </div>
                <div class="marque absolute">
                    <marquee behavior="smooth" direction="" style="position: absolute;display: flex; top: 50%;">
                        <div class="flex-row alc flex-gap-medium">

                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style=" width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                            <div class="flex-row alc flex-gap-small">
                                <img src="assets/images/home-saffron_sec-wrap/SaffronLogoWhite.svg" alt="saffronLogo"
                                    style="width: 8%;">
                                <h2 class="uppercase white-color billa-font"> Let's set the future.</h2>
                            </div>
                        </div>
                    </marquee>
                </div>
            </div>
        </section>
    </div>

    <section class="section_10 z-20 ovxhidden sec_bg_gray">
        <div class="section_10_container relative">
            <div class="inquire_card sec_bg_black relative">
                <div class="card_bg_attach saffron_logo wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">
                    <img src="assets/images/saffron_detail_page/Saffron Logo.svg" alt="saffronLogo">
                </div>
                <div class="card_head">
                    <h1 class="font_64 bigilla">Inquire Now</h1>
                </div>
                <form class="inquire_form" [formGroup]="inquireForm" (ngSubmit)="onSubmit()">
                    <div class="form_group" [ngClass]="{
    'has-error': formSubmitted && inquireForm.get('fullName')?.invalid
  }">
                        <div class="input_wrapper">
                            <input type="text" formControlName="fullName" class="manrope font_20" required />
                            <label class="manrope font_20">Full Name</label>
                        </div>
                    </div>

                    <div class="flex_div">
                        <div class="form_group" [ngClass]="{
    'has-error': formSubmitted && inquireForm.get('email')?.invalid
  }">
                            <div class="input_wrapper">
                                <input type="email" formControlName="email" class="manrope font_20" required />
                                <label class="manrope font_20">Email address</label>
                            </div>
                        </div>
                        <div class="form_group" [ngClass]="{
    'has-error': formSubmitted && inquireForm.get('phone')?.invalid
  }">
                            <div class="input_wrapper phone_input">
                                <div class="flag">
                                    <div class="svg">
                                        <img src="assets/images/sofitel_detail_page/flag.svg" alt="flagImage" />
                                    </div>
                                    <span>
                                        <p>(+91)</p>
                                    </span>
                                </div>
                                <div class=" phone_field">
                                    <input type="tel" formControlName="phone" pattern="^[0-9]{10}$" maxlength="10"
                                        (keypress)="restrictNonNumeric($event)" class="manrope font_20" required />
                                    <label class="manrope font_20">Phone Number</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="input_wrapper msg">
                            <textarea rows="5" formControlName="message" class="manrope font_20" required></textarea>
                            <label class="manrope font_20">Message</label>
                        </div>
                    </div>

                    <button type="submit" class="submit_btn manrope font_16">Send</button>
                </form>
            </div>
            <div class="back_marque">
                <ul class="slide_left_infi">
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                </ul>
                <ul class="slide_right_infi">
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                </ul>
                <ul class="slide_left_infi">
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">Get in touch</h1>
                    </li>
                    <li>
                        <h1 class="font_64 bigilla">/</h1>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>