<div class="rehvassa_wrapper">
  <div class="navbar sticky">
    <ul>
      <li class="menu"><a href="">
          <h2 class="font_16 general_sans menu_text">menu</h2>
          <h2 class="font_16 general_sans menu_btn"><i class="ri-menu-line"></i></h2>
        </a></li>
      <li class="rnr_logo">
        <img src="assets/images/home_page/Group 503 1.svg" alt="">
      </li>
      <li class="inquire_btn relative">
        <p class="font_16 general_sans">Inquire Now</p>
        <span class="arrow_svg">
          <svg class="arrow_svg" width="22" height="13" viewBox="0 0 22 13" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538" stroke="currentColor"
              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

        </span>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>

  <footer>
    <div class="footer-container">
      <div class="footer-grid">
        <div class="inner-flex flex-gap-medium">
          <div class="footer-logo">
            <img src="assets/images/home_page/Group 503 1.svg" alt="">
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Residential</p>
          <div class="inner-flex wfc">
            <a href="#">
              <p class="black-color font-16">Rehvassa Saffron</p>
            </a>
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Commercial</p>
          <div class="inner-flex wfc">
            <a href="#">
              <p class="black-color font-16">Revilta</p>
            </a>
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Other Links</p>
          <div class="inner-flex wfc">
            <a href="#">
              <p class="black-color font-16">Projects</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Articles</p>
            </a>
            <a href="#">
              <p class="black-color font-16">About Us</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Contact</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Privacy Policy</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Terms & Conditions</p>
            </a>
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Locate Us</p>
          <div class="inner-flex">
            <div class="flex-row alc gap-16">
              <div class="footer-icon">
                <img src="assets/images/home_page/phone.svg" alt="">
              </div>
              <div class="footer-paragraph">
                <a href="tel :  +91 9173023852 " class="black-color font-16">
                  +91 9173023852
                </a>
              </div>
            </div>
            <div class="flex-row alc gap-16">
              <div class="footer-icon">
                <img src="assets/images/home_page/mail.svg" alt="">
              </div>
              <div class="footer-paragraph">
                <a href="mailto: r3themail@gmail.com" class=" font-16">
                  r3themail@gmail.com
                </a>
              </div>
            </div>
            <div class="flex-row gap-16">
              <div class="footer-icon-map">
                <img src="assets/images/home_page/map-pin.svg" alt="">
              </div>
              <div class="footer-paragraph">
                <a href="mailto: r3themail@gmail.com" class=" font-16">
                  R3 The Mall, 4th Floor, Opp. Manav Mandir,
                  Drive-in-road, Memnagar, Ahmedabad - 380 052.
                  Office No.: 079-2749 5467
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <p class=" font-18">© R&R Group 2025 - All Rights Reserved.</p>
        <p class=" font-18">Powerd By : REECOSYS</p>
      </div>
    </div>
  </footer>
</div>