@text-blue: #213b74;
@text-white: #ffffff;
@bg-orange: #ec614a;
@bg-white: #ffffff;
@bg-transparent: transparent;

.navbar {
  width: 100%;
  top: 0;
  z-index: 9999;
  background-color: transparent;
  background-color: @bg-white;
}

.navbar ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
}

.navbar li {
  width: 150px;
}

.navbar ul li:first-of-type a {
  text-transform: uppercase;
  text-decoration: none;
  color: @text-blue;
}

.navbar .menu_btn {
  display: none;
  color: #000000;
}

.navbar .menu_text {
  color: #213b74;
  text-transform: uppercase;
}

.navbar .rnr_logo {
  width: 100px;
}

.navbar .inquire_btn {
  background-color: @bg-orange;
  color: @text-white;
  padding: 14px;
  // padding-right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  border: solid 1px transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.8s ease;

  &:hover {
    background-color: @bg-white;
    border: solid 1px @bg-orange;
    color: @bg-orange;
    // stroke: @bg-orange;
  }
}

.navbar .inquire_btn .arrow_svg {
  // position: absolute;
  width: 20px;
  right: 0;
  top: 0;
}

.footer-container {
  width: 85%;
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 7rem 0;
}

.footer-logo {
  width: 10rem;
}

.footer-paragraph a {
  color: black;
}

.footer-paragraph a:hover {
  color: #ec614a !important;
}

a p:hover {
  color: #ec614a !important;
}

.copyrights {
  padding: 1.25rem 0;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.footer-icon-map {
  width: 60px;
}

.hidden-xs {
  display: block;
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 767px) {
  .navbar ul {
    padding: 10px;
    flex-direction: row-reverse;
  }

  .navbar .menu_text {
    display: none;
  }
  .navbar li.menu {
    width: fit-content;
  }
  .navbar .menu_btn {
    display: block;
    font-size: 26px;
    width: fit-content;
  }

  .navbar .inquire_btn {
    display: none;
  }
}
