<div class="rehvassa_wrapper">
  <div class="navbar sticky">
    <ul>
      <li (click)="onMenuClick($event)">
        <input type="checkbox" class="menu" id="menu" [checked]="isMenuOpen">
        <label>
          <h2 class="font_16 crp menu_text">Menu</h2>
        </label>
      </li>
      <!-- <li class="menu" (click)="onMenuClick($event)">
        <h2 class="font_16 general_sans menu_text">menu</h2>
        <h2 class="font_16 general_sans menu_btn"><i class="ri-menu-line"></i></h2>
      </li> -->
      <li class="rnr_logo">
        <a routerLink="/" href="/"><img src="assets/images/home_page/Group 503 1.svg" alt="RnR Logo"></a>
      </li>
      <a routerLink="/inquiry" href="/inquiry" class="hidden-xs">
        <li class="inquire_btn relative">
          <p class="font_16 general_sans">Inquire Now</p>
          <span class="arrow_svg">
            <svg class="arrow_svg" width="22" height="13" viewBox="0 0 22 13" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </li>
      </a>
    </ul>
    <div class="slider-overlay" [ngClass]="isMenuOpen ? 'show' : '' " (click)="onMenuClick($event)">
    </div>
    <div class="slider" [ngClass]="isMenuOpen ? 'open' : 'close'">
      <ul>
        <li>
          <div class="rnr_logo" (click)="onMenuClick($event)">
            <a routerLink="/" href="/"><img src="assets/images/home_page/Group 503 1.svg" alt="RnR Logo"></a>
          </div>
          <input type="checkbox" role="button" aria-label="Display the menu" class="menu menu_close"
            (click)="onMenuClick($event)" [checked]="isMenuOpen">

          <!-- <div class=" menu_close" (click)="onMenuClick($event)">
          <h2 class="font_16 general_sans"><i class="ri-close-line"></i></h2>
    </div> -->
        </li>
        <li>
          <a routerLink="/" (click)="onMenuClick($event)" href="/">
            <h2 class="font_32" style="margin-top: 30px;">Home</h2>
          </a>
        </li>
        <li class="dropdown">
          <a>
            <h2 class="font_32" (click)="toggleDropDown()">
              Residential
              <i class="ri-arrow-down-s-line" [ngClass]="isDropDownOpen ? 'rotate' : '' "></i>
            </h2>
          </a>
        </li>
        <li class="dropdown-content" [ngClass]="isDropDownOpen ? 'open' : 'close' ">
          <div *ngFor="let item of ResidentialList">
            <a [routerLink]="[item.navigate]" (click)="onMenuClick($event)" [attr.href]="item.navigate">
              <div class="dropdown_div">
                <div class="left_img">
                  <img [src]="item.image" [alt]='item.title'>
                </div>
                <div class="right_div">
                  <div class="head">
                    <h2 class="font_24 bigilla"> Rehvasa - {{ item.title }}</h2>
                  </div>
                  <div class="svg_div">
                    <div class="svg_text">
                      <div class="svg"><img src="assets/images/saffron_detail_page/sec1_location_svg.svg"
                          alt="locationIcon"></div>
                      <div class="text">
                        <p class="font_20">{{ item.location }}</p>
                      </div>
                    </div>
                    <div class="svg_text">
                      <div class="svg"><img src="assets/images/sofitel_detail_page/sec1_home_svg.svg" alt="homeIcon">
                      </div>
                      <div class="text">
                        <p class="font_20">{{ item.home_types }}</p>
                      </div>
                    </div>
                    <div class="svg_text">
                      <div class="svg_progerss" *ngIf="+item.percent < 100; else completed">
                        <circle-progress [percent]="+item.percent" [radius]="100" [responsive]="true"
                          [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#78C000'"
                          [innerStrokeColor]="'#1e1e1e'" [animation]="isMenuOpen" [titleColor]="'#ffffff'"
                          [showUnits]="false" [showSubtitle]="false" [animationDuration]="2000" [titleFontSize]="100">
                        </circle-progress>
                      </div>
                      <ng-template #completed>
                        <div class="svg">
                          <img src="assets/images/home-saffron_sec-wrap/building_white.svg" alt="buildingIcon">
                        </div>
                      </ng-template>
                      <div class="text">
                        <p class="font_20">{{ +item.percent < 100 ? 'Under Construction' : 'Completed' }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </li>
        <li>
          <a routerLink="/about" href="/about" (click)="onMenuClick($event)">
            <h2 class="font_32">About Us</h2>
          </a>
        </li>
        <li>
          <a routerLink="/channelpartner" href="/channelpartner" (click)="onMenuClick($event)">
            <h2 class="font_32">Channel Partner</h2>
          </a>
        </li>
        <li>
          <a routerLink="/career" href="/career" (click)="onMenuClick($event)">
            <h2 class="font_32">Career</h2>
          </a>
        </li>
        <li>
          <a routerLink="/contact" href="/contact" (click)="onMenuClick($event)">
            <h2 class="font_32">Contact</h2>
          </a>
        </li>
        <li class="inquiry-mobile visible-xs">
          <a routerLink="/inquiry" href="/inquiry">
        <li class="inquire_btn relative">
          <p class="font_16 general_sans">Inquire Now</p>
          <span class="arrow_svg">
            <svg class="arrow_svg" width="22" height="13" viewBox="0 0 22 13" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538" stroke="currentColor"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </li>
        </a>
        </li>
        <li class="icons">
          <a href="#"><i class="ri-phone-line"></i></a>
          <a href="#"><i class="ri-mail-line"></i></a>
          <a href="#"><i class="ri-map-pin-2-line"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div (click)="isMenuOpen ? onMenuClick($event) : '';" [ngClass]="isMenuOpen ? 'no-scroll' : '' ">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <div class="footer-container">
      <div class="footer-grid">
        <div class="inner-flex flex-gap-medium">
          <div class="footer-logo">
            <img [src]="isSaffron ? logoFooter[0] : logoFooter[1]" alt="footerLogo">
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Residential</p>
          <div class="inner-flex wfc">
            <a routerLink="/sofitel" href="/sofitel">
              <p class="black-color font-16">Rehvassa Sofitel</p>
            </a>
          </div>
          <div class="inner-flex wfc">
            <a routerLink="/saffron" href="/saffron">
              <p class="black-color font-16">Rehvassa Saffron</p>
            </a>
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Commercial</p>
          <div class="inner-flex wfc">
            <a href="#">
              <p class="black-color font-16">Revilta</p>
            </a>
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Other Links</p>
          <div class="inner-flex wfc">
            <a routerLink="/projects" href="/projects">
              <p class="black-color font-16">Projects</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Articles</p>
            </a>
            <a routerLink="/about" href="/about">
              <p class="black-color font-16">About Us</p>
            </a>
            <a routerLink="/contact" href="/contact">
              <p class="black-color font-16">Contact</p>
            </a>
            <a routerLink="/channelpartner" href="/channelpartner">
              <p class="black-color font-16">Channel Partner</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Privacy Policy</p>
            </a>
            <a href="#">
              <p class="black-color font-16">Terms & Conditions</p>
            </a>
          </div>
        </div>
        <div class="residential inner-flex flex-gap-small">
          <p class="font-24">Locate Us</p>
          <div class="inner-flex">
            <div class="flex-row alc gap-16">
              <div class="footer-icon">
                <img src="assets/images/home_page/phone.svg" alt="">
              </div>
              <div class="footer-paragraph">
                <a href="tel :  +91 9173023852 " class="black-color font-16">
                  +91 9173023852
                </a>
              </div>
            </div>
            <div class="flex-row alc gap-16">
              <div class="footer-icon">
                <img src="assets/images/home_page/mail.svg" alt="">
              </div>
              <div class="footer-paragraph">
                <a href="mailto: r3themail@gmail.com" class=" font-16">
                  r3themail@gmail.com
                </a>
              </div>
            </div>
            <div class="flex-row gap-16">
              <div class="footer-icon-map">
                <img src="assets/images/home_page/map-pin.svg" alt="">
              </div>
              <div class="footer-paragraph">
                <a href="mailto: r3themail@gmail.com" class=" font-16">
                  R3 The Mall, 4th Floor, Opp. Manav Mandir,
                  Drive-in-road, Memnagar, Ahmedabad - 380 052.
                  Office No.: 079-2749 5467
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <p class=" font-18">© R&R Group 2025 - All Rights Reserved.</p>
        <p class=" font-18">Powerd By : REECOSYS</p>
      </div>
    </div>
  </footer>
</div>