<section class="section-3 section-padding-bottom">
    <div class="main_container">
        <div class="inner-flex flex-gap-big">
            <div class="banner-title wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                <h1 class="white-color txt-center billa-font">Our <br class="hidden-xs">
                    Projects
                </h1>
            </div>
            <div class="grid-2 flex-gap-medium relative">
                <div class="section-3 section-3-sticky">
                    <a href="#" class="img-sec-3" target="_blank"><img
                            src="assets/images/home-saffron_sec-wrap/Revilta Brochure_page-0004 1.png" alt=""
                            class="height-svh"></a>
                    <div class="banner-overlay"></div>
                    <div class="section-3-text inner-flex flex-gap-small j-c-end">
                        <div class="mtb0">
                            <img src="assets/images/home-saffron_sec-wrap/Group 14 (1).png" alt="">
                        </div>
                        <div class="flex-row j-c-c flex-gap-small flex-column">
                            <div class="flex-row alc section-paragraph gap-16">
                                <img src="assets/images/home-saffron_sec-wrap/Vector.png" alt="" class="home-icon">
                                <p class="white-color">Residential</p>
                            </div>
                            <div class="flex-row alc section-paragraph gap-16">
                                <img src="assets/images/home-saffron_sec-wrap/location_on.png" alt=""
                                    class="home-icon">
                                <p class="white-color">Nana Chiloda , Ahmedabad</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-3 section-3-sticky">
                    <a href="#" class="img-sec-3" target="_blank"><img
                            src="assets/images/home-saffron_sec-wrap/IMG_7518 1.png" alt="" class="height-svh"></a>
                    <div class="banner-overlay"></div>
                    <div class="section-3-text inner-flex flex-gap-small j-c-end">
                        <div class="mtb0">
                            <img src="assets/images/home-saffron_sec-wrap/Group 513.png" alt="">
                        </div>
                        <div class="flex-row j-c-c flex-gap-small flex-column">
                            <div class="flex-row alc section-paragraph gap-16">
                                <img src="assets/images/home-saffron_sec-wrap/Vector.png" alt="" class="home-icon">
                                <p class="white-color">Residential</p>
                            </div>
                            <div class="flex-row alc section-paragraph gap-16">
                                <img src="assets/images/home-saffron_sec-wrap/location_on.png" alt=""
                                    class="home-icon">
                                <p class="white-color">Opp.Sargasan Lake, Gandhinagar</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-3 relative">
                    <a href="#" class="img-sec-3" target="_blank"><img
                            src="assets/images/home-saffron_sec-wrap/Revilta Brochure_page-0004 1 (2).png" alt=""
                            class="height-svh"></a>
                    <div class="banner-overlay"></div>
                    <div class="section-3-text inner-flex flex-gap-small j-c-end">
                        <div class="mtb0">
                            <img src="assets/images/home-saffron_sec-wrap/Group 13.png" alt="">
                        </div>
                        <div class="flex-row j-c-c flex-gap-small flex-column">
                            <div class="flex-row alc section-paragraph gap-16">
                                <img src="assets/images/home-saffron_sec-wrap/Vector.png" alt="" class="home-icon">
                                <p class="white-color">Commercial</p>
                            </div>
                            <div class="flex-row alc section-paragraph gap-16">
                                <img src="assets/images/home-saffron_sec-wrap/location_on.png" alt=""
                                    class="home-icon">
                                <p class="white-color">Nana Chiloda, Ahmedabad</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-3-button mtb0 relative">
                <a href="#">
                    <button class="btn-view-all alc btn-white-border btn-padding bg-transparent">
                        <span class="white-color font-16">View all Projects</span>
                        <img src="assets/images/home-saffron_sec-wrap/btnarrow.svg" alt=""
                            class="btnarrow wow bounceInLeft" data-wow-delay=".2s" data-wow-duration=".5s">
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>