<div class="rehvassa_wrapper">

    <section class="section-1 relative">
        <div class="sec-1-img" [class.active]="isActive">
            <div class="w100">
                <img src="assets/images/home_page/home2_bannerimg.png" alt="Banner" class="w100 h140svh">
            </div>
            <div class="blackOverlay"></div>
        </div>
        <div class="sec-1-text inner-flex mtb0 wfc">
            <div class="relative" [ngClass]="{ 'white-text': isActive }">
                <h1 class="gradient-color txt-center general-font chronicle">1990</h1>
                <h3 class="abs-since general-font">Since</h3>
            </div>
        </div>
    </section>
    <section class="section-2 section-padding">
        <div class="main_container">
            <div class="inner-flex flex-gap-big">
                <div class="banner-title">
                    <h1 class="white-color txt-center billa-font wow fadeInUp" data-wow-delay=".5s"
                        data-wow-duration="1s">CRAFTED <br class="hidden-xs">
                        DURABILITY
                    </h1>
                </div>
                <div class="grid-section-2 w70 mtb0">
                    <div class="section-2-content wow slideInDown" data-wow-delay=".5s" data-wow-duration="1s">
                        <p class="color-orange">
                            What we do</p>
                    </div>
                    <div class="section-2-paragraph">
                        <p class="white-color wow fadeInDownSmall" data-wow-delay=".8s" data-wow-duration="1s">R & R
                            Group
                            welcomes you with great pleasure to share their experience of
                            over three decades in the field of Engineering and Construction. With the aim of developing
                            commercial and residential properties that suit your dynamic lifestyle, R & R Group has
                            successfully completed numerous projects, including commercial towers, residential projects,
                            bungalow, corporate buildings, multistoried towers, farmhouses, and mega mall.</p>
                    </div>
                </div>
                <div class="grid-three-box flex-gap-small">
                    <div class="inner-flex flex-gap-medium mb-100 wow fadeInDown" data-wow-delay=".5s"
                        data-wow-duration=".5s">
                        <div>
                            <img src="assets/images/home-saffron_sec-wrap/Mask group.png" alt="">
                        </div>
                        <div class="section-paragraph alc inner-flex gap0">
                            <h2 class="white-color font-title">1990</h2>
                            <p class="white-color line-height section-paragraph">Established</p>
                        </div>
                    </div>
                    <div class="inner-flex flex-gap-medium wow fadeInDown" data-wow-delay=".7s" data-wow-duration=".5s">
                        <div>
                            <img src="assets/images/home-saffron_sec-wrap/mina-rad-qFSQFSmfZkA-unsplash 1.png" alt=""
                                style="border-radius: 16px;">
                        </div>
                        <div class="section-paragraph alc inner-flex gap0">
                            <h2 class="white-color font-title">2000+</h2>
                            <p class="white-color line-height section-paragraph">Satisfied Customers</p>
                        </div>
                    </div>
                    <div class="inner-flex flex-gap-medium mt-100 wow fadeInDown" data-wow-delay=".8s"
                        data-wow-duration=".5s">
                        <div>
                            <img src="assets/images/home-saffron_sec-wrap/Frame 371.png" alt="">
                        </div>
                        <div class="section-paragraph alc inner-flex gap0">
                            <h2 class="white-color font-title">2 M+</h2>
                            <p class="white-color line-height section-paragraph">Sq. Ft. Area Constructed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3 section-padding-bottom">
        <div class="main_container">
            <div class="inner-flex flex-gap-big">
                <div class="banner-title wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                    <h1 class="white-color txt-center billa-font">Our <br class="hidden-xs">
                        Projects
                    </h1>
                </div>
                <div class="grid-2 flex-gap-medium relative">
                    <div class="section-3 section-3-sticky">
                        <a href="#" class="img-sec-3" target="_blank"><img
                                src="assets/images/home-saffron_sec-wrap/Revilta Brochure_page-0004 1.png" alt=""
                                class="height-svh"></a>
                        <div class="banner-overlay"></div>
                        <div class="section-3-text inner-flex flex-gap-small j-c-end">
                            <div class="mtb0">
                                <img src="assets/images/home-saffron_sec-wrap/Group 14 (1).png" alt="">
                            </div>
                            <div class="flex-row j-c-c flex-gap-small flex-column">
                                <div class="flex-row alc section-paragraph gap-16">
                                    <img src="assets/images/home-saffron_sec-wrap/Vector.png" alt="" class="home-icon">
                                    <p class="white-color">Residential</p>
                                </div>
                                <div class="flex-row alc section-paragraph gap-16">
                                    <img src="assets/images/home-saffron_sec-wrap/location_on.png" alt=""
                                        class="home-icon">
                                    <p class="white-color">Nana Chiloda , Ahmedabad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-3 section-3-sticky">
                        <a href="#" class="img-sec-3" target="_blank"><img
                                src="assets/images/home-saffron_sec-wrap/IMG_7518 1.png" alt="" class="height-svh"></a>
                        <div class="banner-overlay"></div>
                        <div class="section-3-text inner-flex flex-gap-small j-c-end">
                            <div class="mtb0">
                                <img src="assets/images/home-saffron_sec-wrap/Group 513.png" alt="">
                            </div>
                            <div class="flex-row j-c-c flex-gap-small flex-column">
                                <div class="flex-row alc section-paragraph gap-16">
                                    <img src="assets/images/home-saffron_sec-wrap/Vector.png" alt="" class="home-icon">
                                    <p class="white-color">Residential</p>
                                </div>
                                <div class="flex-row alc section-paragraph gap-16">
                                    <img src="assets/images/home-saffron_sec-wrap/location_on.png" alt=""
                                        class="home-icon">
                                    <p class="white-color">Opp.Sargasan Lake, Gandhinagar</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-3 relative">
                        <a href="#" class="img-sec-3" target="_blank"><img
                                src="assets/images/home-saffron_sec-wrap/Revilta Brochure_page-0004 1 (2).png" alt=""
                                class="height-svh"></a>
                        <div class="banner-overlay"></div>
                        <div class="section-3-text inner-flex flex-gap-small j-c-end">
                            <div class="mtb0">
                                <img src="assets/images/home-saffron_sec-wrap/Group 13.png" alt="">
                            </div>
                            <div class="flex-row j-c-c flex-gap-small flex-column">
                                <div class="flex-row alc section-paragraph gap-16">
                                    <img src="assets/images/home-saffron_sec-wrap/Vector.png" alt="" class="home-icon">
                                    <p class="white-color">Commercial</p>
                                </div>
                                <div class="flex-row alc section-paragraph gap-16">
                                    <img src="assets/images/home-saffron_sec-wrap/location_on.png" alt=""
                                        class="home-icon">
                                    <p class="white-color">Nana Chiloda, Ahmedabad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-3-button mtb0 relative">
                    <a routerLink="/projects">
                        <button class="btn-view-all alc btn-white-border btn-padding bg-transparent">
                            <span class="white-color font-16">View all Projects</span>
                            <img src="assets/images/home-saffron_sec-wrap/btnarrow.svg" alt=""
                                class="btnarrow wow fadeInUpSmall" data-wow-delay=".2s" data-wow-duration=".5s">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="section-4 section-padding relative">
        <div class="main_container">
            <div class="w70 mtb0 section-padding-web">
                <div class="inner-flex flex-gap-big alc">
                    <div class="banner-title wow fadeInDownSmall" data-wow-delay=".5s" data-wow-duration="1s">
                        <h1 class="txt-center billa-font font-80">WHO WE ARE
                        </h1>
                    </div>
                    <div class="section-paragraph wow fadeIn" data-wow-delay=".5s" data-wow-duration="1s">
                        <p class="txt-center line-height font-18">an aim to develop such a Commercial and Residential
                            properties which suits
                            your economical lifestyle. With a dynamic leadership of Mr. Rohit Patel and with a team of
                            professionals, R & R group brings the trust in the Real Estate Market and consistently
                            scaled new heights in the industry. The group has started his journey of experience by
                            constructing their first commercial project in Surat, Gujarat</p>
                    </div>
                    <div class="sign-img-txt">
                        <div class="sign-img mtb0 wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">
                            <img src="assets/images/home-saffron_sec-wrap/Rohit Patel.svg" alt="">
                        </div>
                        <p class="txt-center gray-color font-16">Director of R & R Group</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-5 section-padding relative">
        <div class="main_container">
            <div class="grid60-40 alc">
                <div class="section-5-heading">
                    <h2 class="white-color billa-font wow zoomIn" data-wow-delay=".5s" data-wow-duration="1s">Why
                        <br class="hidden-xs">
                        Choose Us ?
                    </h2>
                </div>
                <div class="section-paragraph">
                    <p class="white-color font-32">Clients choose R&R Group for our commitment to
                        quality and customer satisfaction. With a proven track record and an experienced team, we
                        provide personalized solutions that exceed expectations. Our responsiveness and attention to
                        detail ensure a seamless experience, making R&R Group a trusted partner for all real estate
                        needs.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-6 section-padding sec-6-bg-img">
        <div class="main_container">
            <div class="section-sticky-imgs wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                <img src="assets/images/home-saffron_sec-wrap/whychoose-sec-project-1.png" alt="">
            </div>
            <div class="section-sticky-imgs mlauto wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                <img src="assets/images/home-saffron_sec-wrap/whychoose-sec-project-2.png" alt="">
            </div>
            <div class="section-sticky-imgs wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                <img src="assets/images/home-saffron_sec-wrap/whychoose-sec-project-4.png" alt="">
            </div>
            <div class="section-sticky-imgs mlauto wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                <img src="assets/images/home-saffron_sec-wrap/whychoose-sec-project-3.png" alt="">
            </div>
        </div>
    </section>
    <section class="section-7 section-padding relative">
        <div class="main_container">
            <div class="section-padding inner-flex flex-gap-big j-c-c">
                <div class="section-content inner-flex flex-gap-small txt-center  wow fadeIn" data-wow-delay=".5s"
                    data-wow-duration="1s">
                    <p class="line-height font-18 ">Get In Touch</p>
                    <h2 class="billa-font font-weight100">Are you ready to step into <br class="hidden-xs">
                        your Dream Space?</h2>
                </div>
                <div class="section-3-button mtb0 relative">
                    <a routerLink="/contact">
                        <button class="btn-view-all alc btn-white-border btn-padding bg-dark">
                            <span class="white-color font-16">Contact Us</span>
                            <img src="assets/images/home-saffron_sec-wrap/btnarrow.svg" alt=""
                                class="btnarrow wow fadeInUpSmall" data-wow-delay=".3s" data-wow-duration=".8s">
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="secttion-8 section-padding relative">
        <div class="main_container">
            <div class="inner-flex flex-gap-medium">
                <div class="banner-title">
                    <h1 class="billa-font font-80 social-media wow fadeInUp" data-wow-delay=".5s"
                        data-wow-duration="1s">SOCIAL MEDIA
                    </h1>
                </div>
                <div class="swiper-container sec-8-boxs relative flex-row j-c-spb flex-gap-small" #swiperContainer>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide sec-8-box">
                            <img src="assets/images/home-saffron_sec-wrap/socialimg-1.jpg" alt=""
                                class="border-radius-16">
                        </div>
                        <div class="swiper-slide sec-8-box">
                            <img src="assets/images/home-saffron_sec-wrap/socialimg-2.jpg" alt=""
                                class="border-radius-16">
                        </div>
                        <div class="swiper-slide sec-8-box">
                            <img src="assets/images/home-saffron_sec-wrap/socialimg-3.jpg" alt=""
                                class="border-radius-16">
                        </div>
                        <div class="swiper-slide sec-8-box">
                            <img src="assets/images/home-saffron_sec-wrap/socialimg-4.jpg" alt=""
                                class="border-radius-16">
                        </div>
                        <div class="swiper-slide sec-8-box">
                            <img src="assets/images/home-saffron_sec-wrap/socialimg-5.jpg" alt=""
                                class="border-radius-16">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="insta-icon">
                <a href="https://www.instagram.com/rnr._.group/" target="_blank">
                    <img src="assets/images/home-saffron_sec-wrap/insta-icon.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <!-- <footer>
            <div class="footer-container">
                <div class="footer-grid">
                    <div class="inner-flex flex-gap-medium">
                        <div class="footer-logo">
                            <img src="assets/images/home-saffron_sec-wrap/Group 503 1.svg" alt="">
                        </div>
                    </div>
                    <div class="residential inner-flex flex-gap-small">
                        <p class="font-24">Residential</p>
                        <div class="inner-flex wfc">
                            <a href="#">
                                <p class="black-color font-16">Rehvassa Saffron</p>
                            </a>
                        </div>
                    </div>
                    <div class="residential inner-flex flex-gap-small">
                        <p class="font-24">Commercial</p>
                        <div class="inner-flex wfc">
                            <a href="#">
                                <p class="black-color font-16">Revilta</p>
                            </a>
                        </div>
                    </div>
                    <div class="residential inner-flex flex-gap-small">
                        <p class="font-24">Other Links</p>
                        <div class="inner-flex wfc">
                            <a href="#">
                                <p class="black-color font-16">Projects</p>
                            </a>
                            <a href="#">
                                <p class="black-color font-16">Articles</p>
                            </a>
                            <a href="#">
                                <p class="black-color font-16">About Us</p>
                            </a>
                            <a href="#">
                                <p class="black-color font-16">Contact</p>
                            </a>
                            <a href="#">
                                <p class="black-color font-16">Privacy Policy</p>
                            </a>
                            <a href="#">
                                <p class="black-color font-16">Terms & Conditions</p>
                            </a>
                        </div>
                    </div>
                    <div class="residential inner-flex flex-gap-small">
                        <p class="font-24">Locate Us</p>
                        <div class="inner-flex">
                            <div class="flex-row alc gap-16">
                                <div class="footer-icon">
                                    <img src="assets/images/home-saffron_sec-wrap/phone.svg" alt="">
                                </div>
                                <div class="footer-paragraph">
                                    <a href="tel :  +91 9173023852 " class="black-color font-16">
                                        +91 9173023852
                                    </a>
                                </div>
                            </div>
                            <div class="flex-row alc gap-16">
                                <div class="footer-icon">
                                    <img src="assets/images/home-saffron_sec-wrap/mail.svg" alt="">
                                </div>
                                <div class="footer-paragraph">
                                    <a href="mailto: r3themail@gmail.com" class=" font-16">
                                        r3themail@gmail.com
                                    </a>
                                </div>
                            </div>
                            <div class="flex-row gap-16">
                                <div class="footer-icon-map">
                                    <img src="assets/images/home-saffron_sec-wrap/map-pin.svg" alt="">
                                </div>
                                <div class="footer-paragraph">
                                    <a href="mailto: r3themail@gmail.com" class=" font-16">
                                        R3 The Mall, 4th Floor, Opp. Manav Mandir,
                                        Drive-in-road, Memnagar, Ahmedabad - 380 052.
                                        Office No.: 079-2749 5467
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyrights">
                    <p class=" font-18">© R&R Group 2025 - All Rights Reserved.</p>
                    <p class=" font-18">Powerd By : REECOSYS</p>
                </div>
            </div>
        </footer> -->
</div>