<section class="contact relative">
    <div class="contact-img">
        <img src="assets\images\contact-us.png" alt="contactImage">
    </div>
    <div class="banner_overly"></div>
    <div class="contact-abs">
        <div class="cotact-title">
            <h1 class="billa-font font_200 wow fadeIn" data-wow-delay="0.6s" data-wow-duration="0.6s">Contact-Us</h1>
        </div>
    </div>
</section>
<section class="section_10 z-20 ovxhidden sec_bg_gray">
    <div class="section_10_container relative">
        <div class="inquire_card sec_bg_black relative">
            <div class="card_bg_attach saffron_logo">
                <img src="assets/images/saffron_detail_page/Saffron Logo.svg" alt="saffronLogo">
            </div>
            <div class="contact-grid">
                <div class="inner-flex flex-gap-big contact-text-flex">
                    <div class="inner-flex section-paragraph  wow fade_top">
                        <h3 class="section-subtitle3 uppercase white-color billa-font font_64">
                            Contact-Us
                        </h3>
                        <p class="white-color font_24">
                            Feel free to get in touch with us for any inquiry,<a
                                href="mailto: rnrgroup1990@gmail.com"></a></p>
                        <p class="white-color"><a href="mailto: rnrgroup1990@gmail.com"
                                class="white-color font_24">rnrgroup1990@gmail.com</a></p>

                    </div>
                    <div class="section-paragraph w100 inner-flex flex-gap-medium j-c-sb  contect-address wow fade_top">
                        <div class="inner-flex ">
                            <h3 class="section-subtitle3 billa-font uppercase white-color  font_64">
                                Address
                            </h3>
                            <div class="section-paragraph white-color ">
                                <a href="#" target="_blank">
                                    <p class="white-color font_24">
                                        R3 The Mall, 4th
                                        Floor, Opp. Manav Mandir,
                                        Drive-in-road, Memnagar, Ahmedabad - 380 052.

                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="mrauto mlauto  relative  wow fadeInUp">
                            <a href="https://www.google.com/maps/place/R3+The+Mall/@23.0463947,72.5402822,21z/data=!3m1!5s0x395e84bcc363a94b:0xa2c7c5c2051eea1b!4m6!3m5!1s0x395e84bcdb56f96f:0xfab8d67a26f7a297!8m2!3d23.0464888!4d72.5404306!16s%2Fg%2F1yg93ldkt?entry=ttu"
                                target="_blank">
                                <button type="submit" class="submit_btn manrope font_16">View on Map
                                    <svg class="arrow_svg" width="22" height="13" viewBox="0 0 22 13" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" style="margin-left: 20px;">
                                        <path d="M1 6.5L21 6.5M21 6.5L15.6154 11.8846M21 6.5L15.6154 1.11538"
                                            stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <form class="inquire_form" [formGroup]="inquireForm" (ngSubmit)="onSubmit()">
                    <div class="form_group" [ngClass]="{
    'has-error': formSubmitted && inquireForm.get('fullName')?.invalid
  }">
                        <div class="input_wrapper">
                            <input type="text" formControlName="fullName" class="manrope font_20" required />
                            <label class="manrope font_20"> Name</label>
                        </div>
                    </div>

                    <div class="flex_div">
                        <div class="form_group" [ngClass]="{
    'has-error': formSubmitted && inquireForm.get('email')?.invalid
  }">
                            <div class="input_wrapper">
                                <input type="email" formControlName="email" class="manrope font_20" required />
                                <label class="manrope font_20">Email address</label>
                            </div>
                        </div>
                        <div class="form_group" [ngClass]="{
    'has-error': formSubmitted && inquireForm.get('phone')?.invalid
  }">
                            <div class="input_wrapper phone_input">
                                <div class="flag">
                                    <div class="svg">
                                        <img src="assets/images/sofitel_detail_page/flag.svg" alt="flagImage" />
                                    </div>
                                    <span>
                                        <p>+91</p>
                                    </span>
                                </div>
                                <div class="phone_field">
                                    <input type="tel" formControlName="phone" pattern="^[0-9]{10}$"
                                        (keypress)="restrictNonNumeric($event)" maxlength="10" class="manrope font_20"
                                        required />
                                    <label class="manrope font_20">Phone Number</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form_group">
                        <div class="input_wrapper msg">
                            <textarea rows="5" formControlName="message" class="manrope font_20" required></textarea>
                            <label class="manrope font_20">Message</label>
                        </div>
                    </div>

                    <button type="submit" class="submit_btn manrope font_16">Send</button>
                </form>
            </div>
        </div>
        <div class="back_marque">
            <ul class="slide_left_infi">
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
            </ul>
            <ul class="slide_right_infi">
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
            </ul>
            <ul class="slide_left_infi">
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">Get in touch</h1>
                </li>
                <li>
                    <h1 class="font_64 bigilla">/</h1>
                </li>
            </ul>
        </div>
    </div>
</section>